In [2]:
import requests
from pprint import PrettyPrinter
import pandas as pd
import re
import math
import numpy as np
pp = PrettyPrinter()
apiKey = '59e10136'
data_URL = 'http://www.omdbapi.com/?apikey='+apiKey

In [42]:
oscard = pd.read_csv("the_oscar_award.csv")
oscard = oscard.drop(columns=['year_film', 'ceremony'])
oscard = oscard[-oscard[['name','film']].isna().all(axis=1)]
oscard['name'] = [(str(i).split()[1]+" "+str(i).split()[2]).replace(',', '') if len(str(i).split())>3 and str(i).split()[0]=='To' else i for i in oscard['name'] ]
oscard['name'] = [(str(i).split()[2]+" "+str(i).split()[3]).replace(',', '') if len(str(i).split())>=4 and str(i).split()[0]=='Written' else i for i in oscard['name'] ]
oscard = oscard.rename(columns={"year_ceremony": "year", "category": "category", "name": "crew_name", "film":'movie_name', "winner":'is_winner'}, errors="raise")
oscard

,year,category,crew_name,movie_name,is_winner
0,1928,ACTOR,Richard Barthelmess,The Noose,False
1,1928,ACTOR,Emil Jannings,The Last Command,True
2,1928,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1928,ACTRESS,Janet Gaynor,7th Heaven,True
4,1928,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...
10760,2023,HONORARY AWARD,Euzhan Palcy,NaN,True
10761,2023,HONORARY AWARD,Diane Warren,NaN,True
10762,2023,HONORARY AWARD,Peter Weir,NaN,True
10763,2023,GORDON E. SAWYER AWARD,Iain Neil,NaN,True
10764,2023,AWARD OF COMMENDATION,Ryan Laney,Welcome to Chechnya,True

In [22]:
oscard_movie = oscard[['movie_name', 'year']].drop_duplicates(ignore_index=True)
oscard_movie['imdb_id'] = None
oscard_movie

                             movie_name  year imdb_id
0                             The Noose  1928    None
1                      The Last Command  1928    None
2                       A Ship Comes In  1928    None
3                            7th Heaven  1928    None
4                        Sadie Thompson  1928    None
...                                 ...   ...     ...
5185                         Night Ride  2023    None
5186                   The Red Suitcase  2023    None
5187  Glass Onion: A Knives Out Mystery  2023    None
5188                                NaN  2023    None
5189                Welcome to Chechnya  2023    None

[5190 rows x 3 columns]

In [16]:
for i in range(4992):
    params = {
    't':str(oscard_movie['movie_name'][i]),
    'type':'movie'
    }
    try:
        response = requests.get(data_URL,params=params).json()
        if 'imdbID' in response.keys():
            print(i)
            oscard_movie['imdb_id'][i] = response['imdbID']
    except:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
215
216
217
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
491
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
784
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
862
863
864
865
866
867
868
869
870
872
873
874
875
876
877
878
879
880
881
882
884
885
886
887
888
889
890
891
892
893
894
895
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
946
947
948
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
992
993
994
995
996
997
998
999
1000
1001
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1070
1071
1072
1073
1074
1075
1076
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1335
1336
1337
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1512
1513
1514
1515
1516
1517
1518
1519
1520
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1574
1576
1577
1578
1579
1580
1581
1582
1583
1585
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1618
1619
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1714
1715
1716
1717
1718
1719
1720
1721
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1770
1771
1772
1773
1774
1775
1776
1777
1778
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1819
1820
1821
1823
1824
1825
1826
1828
1829
1830
1831
1832
1833
1834
1835
1837
1838
1840
1841
1842
1843
1844
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1913
1914
1915
1916
1917

1918
1919
1920
1921
1922
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1937
1938
1939
1940
1941
1942
1943
1944
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2087
2089
2090
2091
2092
2093
2094
2095
2096
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2231
2232
2233
2234
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2287
2288
2289
2290
2291
2292
2293
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2365
2366
2367
2368
2370
2371
2373
2374
2375
2376
2377
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2719
2720
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2849
2850
2851
2852
2853
2854
2855
2857
2858
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2904
2905
2906
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3091
3093
3095
3096
3097
3098
3099
3100
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3141
3142
3143
3144
3145
3146
3148
3149
3150
3151
3152
3153
3154
3155
3156
3157
3158
3159
3160
3161
3162
3163
3164
3165
3166
3167
3168
3169
3170
3171
3172
3173
3174
3175
3176
3177
3178
3179
3180
3181
3182
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3198
3199
3200
3201
3202
3203
3204
3205
3206
3209
3210
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3244
3245
3247
3248
3249
3250
3251
3252
3253
3254
3255
3256
3257
3258
3259
3260
3261
3262
3264
3265
3266
3268
3269
3270
3271
3272
3273
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3288
3289
3290
3291
3292
3293
3294
3295
3297
3298
3299
3300
3301
3303
3304
3305
3306
3307
3308
3309
3310
3311
3312
3313
3314
3315
3316
3317
3318
3319
3320
3321
3322
3323
3324
3325
3326
3327
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3339
3340
3341
3342
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3354
3355
3356
3357
3358
3359
3361
3362
3363
3364
3365
3366
3367
3368
3369
3370
3371
3372
3373
3374
3375
3376
3377
3378
3379
3380
3381
3382
3383
3384
3385
3386
3387
3388
3389
3390
3391
3392
3393
3394
3395
3396
3397
3398
3399
3400
3401
3402
3403
3404
3405
3406
3407
3408
3409
3410
3412
3413
3414
3416
3417
3418
3419
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3430
3431
3432
3433
3434
3435
3436
3437
3438
3439
3440
3442
3443
3444
3445
3447
3448
3449
3450
3451
3452
3453
3454
3457
3458
3459
3460
3461
3462
3463
3464
3465
3466
3467
3468
3469
3470
3471
3472
3473
3474
3475
3476
3477
3478
3479
3480
3481
3482
3483
3484
3485
3486
3487
3488
3489
3490
3491
3492
3493
3494
3495
3496
3499
3500
3501
3502
3503
3504
3505
3506
3507
3508
3509
3510
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3526
3527
3528
3529
3530
3531
3532
3533
3534
3535
3536
3537
3538
3539
3540
3541
3542
3543
3544
3545
3546
3548
3549
3550
3551
3552
3553
3554
3555
3556
3557
3558
3559
3560
3561
3562
3563
3564
3565
3566
3567
3568
3569
3570
3571
3572
3573
3574
3575
3576
3577
3578
3579
3580
3581
3583
3584
3585
3586
3587
3588
3589
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3600
3601
3602
3603
3604
3605
3606
3607
3608
3609
3610
3611
3612
3613
3614
3615
3616
3617
3618
3619
3620
3621
3622
3623
3624
3625

3626
3627
3628
3629
3631
3632
3633
3634
3635
3636
3637
3638
3639
3640
3641
3642
3643
3644
3645
3646
3647
3648
3649
3650
3651
3652
3653
3654
3655
3656
3657
3658
3659
3660
3661
3662
3663
3664
3665
3666
3667
3668
3670
3671
3672
3673
3674
3675
3676
3677
3678
3679
3680
3681
3682
3683
3684
3685
3686
3688
3690
3692
3693
3694
3695
3696
3697
3698
3699
3700
3701
3702
3703
3704
3705
3706
3707
3708
3709
3710
3711
3712
3713
3714
3715
3716
3717
3718
3719
3720
3721
3722
3723
3724
3725
3726
3728
3729
3730
3731
3732
3733
3734
3735
3736
3737
3738
3739
3740
3742
3745
3746
3747
3748
3749
3750
3751
3752
3753
3754
3755
3756
3757
3758
3759
3760
3761
3762
3763
3764
3765
3767
3768
3769
3770
3771
3772
3773
3774
3775
3776
3777
3778
3779
3780
3781
3782
3783
3785
3786
3787
3788
3789
3790
3791
3792
3793
3794
3795
3796
3798
3799
3800
3801
3802
3803
3804
3805
3806
3807
3808
3809
3810
3811
3812
3813
3814
3815
3816
3817
3818
3819
3820
3821
3822
3823
3824
3825
3826
3827
3828
3829
3830
3831
3832
3833
3834
3835
3836
3837
3838
3839
3840
3841
3842
3843
3844
3845
3848
3849
3850
3851
3852
3853
3854
3855
3856
3857
3858
3859
3860
3861
3862
3863
3864
3865
3866
3867
3868
3869
3870
3871
3872
3873
3874
3875
3876
3877
3879
3880
3881
3882
3884
3885
3886
3887
3888
3890
3893
3895
3896
3897
3898
3899
3900
3901
3902
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
3917
3918
3919
3920
3921
3922
3923
3924
3925
3926
3927
3928
3929
3930
3931
3932
3933
3934
3935
3936
3937
3938
3939
3940
3941
3942
3945
3947
3948
3949
3950
3951
3952
3953
3954
3955
3956
3957
3958
3959
3960
3961
3962
3963
3964
3965
3967
3968
3969
3970
3971
3972
3974
3975
3976
3977
3978
3979
3980
3981
3982
3984
3985
3986
3987
3988
3989
3990
3991
3992
3993
3994
3995
3996
3998
3999
4000
4001
4002
4003
4004
4005
4006
4007
4008
4009
4010
4011
4012
4013
4014
4015
4016
4017
4018
4021
4022
4023
4024
4025
4026
4027
4028
4029
4030
4031
4032
4033
4034
4035
4036
4037
4038
4039
4040
4041
4042
4043
4044
4045
4046
4047
4049
4050
4051
4052
4053
4054
4055
4056
4057
4058
4059
4060
4061
4062
4063
4064
4065
4066
4067
4068
4069
4070
4071
4072
4073
4074
4075
4076
4077
4078
4079
4080
4081
4082
4083
4084
4085
4086
4087
4088
4089
4090
4091
4092
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4106
4107
4108
4109
4110
4111
4113
4114
4115
4116
4117
4118
4119
4120
4121
4122
4123
4124
4125
4126
4127
4128
4129
4130
4131
4132
4133
4134
4135
4136
4137
4138
4139
4140
4141
4142
4144
4145
4146
4147
4148
4149
4150
4151
4152
4153
4154
4155
4156
4157
4158
4159
4160
4164
4167
4168
4169
4170
4171
4172
4173
4174
4175
4176
4177
4178
4179
4180
4181
4182
4183
4184
4185
4186
4187
4188
4189
4190
4192
4193
4194
4195
4196
4197
4198
4199
4200
4201
4202
4203
4204
4205
4206
4209
4210
4211
4214
4215
4217
4218
4219
4220
4221
4222
4223
4224
4225
4226
4227
4228
4229
4230
4231
4233
4234
4235
4236
4237
4238
4239
4240
4241
4242
4243
4244
4245
4246
4247
4248
4249
4250
4251
4252
4253
4254
4255
4257
4258
4260
4261
4262
4263
4265
4266
4267
4268
4269
4270
4271
4272
4273
4274
4275
4276
4277
4278
4279
4280
4281
4282
4283
4284
4285
4286
4287
4288
4289
4290
4291
4292
4293
4294
4295
4296
4297
4298
4299
4300
4301
4302
4303
4304
4305
4306
4307
4308
4310
4311
4312
4313
4314
4315
4316
4317
4318
4320
4321
4322
4323
4324
4325
4326
4327
4328
4329
4330
4331
4332
4333
4334
4335
4336
4337
4338
4339
4340
4341
4342
4343
4344
4345
4346
4347
4348
4349
4350
4351
4352
4353
4354
4355
4356
4357
4358
4359
4360
4361
4362
4363
4364
4365
4366
4367
4368
4369
4370
4371
4372
4373
4374
4375
4377
4378
4379
4380
4381
4382
4383
4384
4385
4386
4387
4388
4389
4390
4391
4392
4393
4394
4395
4396
4397
4398
4399
4400
4401
4402
4403
4404
4405
4406
4407
4408
4409
4410
4411
4412
4413
4414
4415
4416
4417
4418
4419
4420
4421
4422
4423
4424
4425
4426
4427
4428
4429
4430
4431
4432
4433
4435
4436
4437
4438
4440
4442
4443
4444
4445
4446
4447
4448
4449
4450
4451
4452
4453
4454
4455
4456
4457
4458
4459
4460
4461
4462
4463
4464
4465
4466
4467
4468
4469
4470
4471
4472
4473
4474
4475
4476
4477
4478
4479
4480
4481
4482
4483
4484
4485
4486
4487
4488
4491
4493
4494
4495
4496
4497
4498
4499
4500
4501
4502
4503
4504
4505
4506
4507
4508
4509
4510
4511
4512
4513
4514
4515
4516
4517
4518
4519
4520
4521
4522
4523
4524
4525
4526
4527
4528
4529
4530
4531
4533
4534
4535
4536
4537
4538
4539
4540
4541
4542
4543
4544
4545
4546
4547
4548
4549
4550
4551
4553
4554
4555
4556
4557
4558
4559
4560
4561
4562
4563
4564
4565
4566
4567
4568
4569
4570
4571
4572
4573
4574
4575
4576
4577
4578
4579
4580
4581
4582
4583
4584
4585
4586
4587
4588
4589
4590
4591
4592
4593
4594
4595
4596
4597
4598
4599
4600
4601
4602
4603
4604
4605
4606
4607
4608
4609
4610
4612
4613
4614
4615
4616
4617
4618
4619
4620
4621
4622
4623
4624
4625
4626
4627
4628
4629
4630
4631
4632
4633
4634
4635
4636
4637
4638
4639
4640
4641
4642
4643
4644
4645
4646
4647
4648
4649
4650
4651
4652
4653
4654
4655
4656
4657
4658
4659
4660
4661
4662
4663
4664
4666
4667
4668
4669
4670
4671
4672
4673
4674
4675
4676
4677
4678
4679
4680
4681
4682
4683
4684
4685
4686
4687
4688
4689
4690
4691
4692
4693
4694
4695
4696
4697
4698
4699
4700
4701
4702
4703
4704
4705
4706
4707
4708
4709
4710
4711
4712
4713
4714
4715
4716
4717
4718
4719
4720
4721
4722
4723
4724
4725
4726
4727
4728
4729
4730
4731
4732
4733
4734
4735
4736
4737
4738
4739
4740
4741
4742
4743
4744
4745
4746
4747
4748
4749
4750
4751
4752
4753
4754
4755
4756
4757
4758
4759
4760
4761
4762
4763
4764
4765
4766
4767
4768
4769
4770
4771
4772
4773
4774
4775
4776
4777
4778
4779
4780
4781
4782
4783
4784
4785
4786
4787
4788
4789
4790
4791
4792
4793
4794
4795
4796
4797
4798
4799
4800
4801
4802
4803
4804
4805
4806
4807
4808
4809
4810
4811
4812
4813
4814
4815
4816
4817
4818
4819
4820
4822
4823
4824
4825
4826
4827
4828
4829
4830
4831
4832
4833
4834
4835
4836
4837
4838
4839
4840
4841
4842
4843
4844
4845
4847
4848
4849
4850
4851
4852
4853
4854
4855
4856
4857
4858
4859
4860
4861
4862
4863
4864
4865
4866
4867
4868
4869
4870
4871
4872
4873
4874
4875
4876
4877
4878
4879
4880
4881
4882
4883
4884
4885
4886
4887
4888
4889
4890
4891
4892
4893
4894
4895
4896
4897
4898
4899
4900
4901
4902
4903
4904
4905
4906
4907
4908
4909
4910
4911
4912
4913
4914
4915
4916
4917
4918
4919
4920
4921
4922
4923
4924
4925
4926
4928
4929
4931
4932
4933
4934
4935
4936
4937
4938
4939
4940
4941
4942
4943
4944
4945
4946
4947
4948
4949
4950
4951
4952
4953
4954
4955
4956
4957
4958
4959
4960
4961
4962
4963
4964
4965
4966
4967
4968
4969
4970
4971
4972
4973
4974
4975
4976
4977
4978
4979
4980
4981
4982
4983
4984
4985
4986
4987
4988
4989
4991

In [73]:
temp = oscard_movie[oscard_movie['imdb_id'].isna()]['movie_name']
temp = pd.DataFrame([(i, i.split(':')[0]) if len(i.split(':'))>1 else None for i in temp]).dropna()
temp['imbd_id'] = None
for i in temp.index:
    params = {
    't':str(temp[0][i][1]),
    'type':'movie'
    }
    try:
        response = requests.get(data_URL,params=params).json()
        if 'imdbID' in response.keys():
            print(i)
            temp['imbd_id'][i] = response['imdbID']
    except:
        continue
temp = temp.dropna()
for i in temp.index:
    index = oscard_movie.index[oscard_movie['movie_name'] == temp[0][i][0]].tolist()[0]
    oscard_movie.loc[index]['imdb_id'] = temp['imbd_id'][i]
oscard_movie

26
32
81
107
111
124
131
156
176
194
197

                                                     0     imbd_id
26   (A Voice Is Born: The Story of Niklos Gafni, A...   tt0039968
32   (Light in the Window: The Art of Vermeer, Ligh...   tt0044836
81   (The Further Adventures of Uncle Sam: Part Two...   tt0065751
105  (Isaac in America: A Journey with Isaac Bashev...        None
107  (Eyes on the Prize: America's Civil Rights Yea...   tt1367196
109  (The Ten-Year Lunch: The Wit and Legend of the...        None
111  (Hotel Terminus: The Life and Times of Klaus B...   tt4130794
114  (Waldo Salt: A Screenwriter's Journey, Waldo S...        None
124                (Farinelli: Il Castrato, Farinelli)   tt0109771
131  (The Personals: Improvisations on Romance in t...   tt0212423
156       (7:35 in the Morning (7:35 de la Mañana), 7)   tt2820852
176  (Precious: Based on the Novel 'Push' by Sapphi...   tt0929632
194  (Borat Subsequent Moviefilm: Delivery of Prodi...  tt13143964
197   (Glass Onion: A Knives Out Mystery, Glass Onion)  tt11564570

In [97]:
oscard_movie = oscard_movie.dropna()
oscard_movie_id = pd.merge(oscard, oscard_movie, on=['movie_name'], how='left')
oscard_movie_id

,year,category,crew_name,movie_name,is_winner,imdb_id
0,1928,ACTOR,Richard Barthelmess,The Noose,False,tt0052063
1,1928,ACTOR,Emil Jannings,The Last Command,True,tt0019071
2,1928,ACTRESS,Louise Dresser,A Ship Comes In,False,tt0018389
3,1928,ACTRESS,Janet Gaynor,7th Heaven,True,tt0018379
4,1928,ACTRESS,Gloria Swanson,Sadie Thompson,False,tt0019344
...,...,...,...,...,...,...
10756,2023,HONORARY AWARD,Euzhan Palcy,NaN,True,NaN
10757,2023,HONORARY AWARD,Diane Warren,NaN,True,NaN
10758,2023,HONORARY AWARD,Peter Weir,NaN,True,NaN
10759,2023,GORDON E. SAWYER AWARD,Iain Neil,NaN,True,NaN
10760,2023,AWARD OF COMMENDATION,Ryan Laney,Welcome to Chechnya,True,tt11394200

# oscard.csv

In [23]:
oscard_movie_id

NameError: name 'oscard_movie_id' is not defined

In [101]:
#oscard_movie_id.to_csv("oscard.csv")
oscard = pd.read_csv("clean_data/oscard.csv")
oscard = oscard.rename(columns={"Unnamed: 0":'award_id'})
oscard.columns

Index(['award_id', 'year', 'category', 'crew_name', 'movie_name', 'is_winner',
       'imdb_id'],
      dtype='object')

In [105]:
oscard = oscard[['award_id', 'year', 'category', 'crew_name', 'imdb_id', 'is_winner']]
oscard
#oscard.to_csv("oscard.csv")

,award_id,year,category,crew_name,imdb_id,is_winner
0,0,1928,ACTOR,Richard Barthelmess,tt0052063,False
1,1,1928,ACTOR,Emil Jannings,tt0019071,True
2,2,1928,ACTRESS,Louise Dresser,tt0018389,False
3,3,1928,ACTRESS,Janet Gaynor,tt0018379,True
4,4,1928,ACTRESS,Gloria Swanson,tt0019344,False
...,...,...,...,...,...,...
10756,10756,2023,HONORARY AWARD,Euzhan Palcy,NaN,True
10757,10757,2023,HONORARY AWARD,Diane Warren,NaN,True
10758,10758,2023,HONORARY AWARD,Peter Weir,NaN,True
10759,10759,2023,GORDON E. SAWYER AWARD,Iain Neil,NaN,True
10760,10760,2023,AWARD OF COMMENDATION,Ryan Laney,tt11394200,True

In [3]:
rotten_tomato_critic = pd.read_csv("rotten_tomatoes_critic_reviews.csv")
rotten_tomato_critic

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
1130012,m/zulu_dawn,Chuck O'Leary,False,Fantastica Daily,Rotten,2/5,2005-11-02,NaN
1130013,m/zulu_dawn,Ken Hanke,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5/5,2007-03-07,"Seen today, it's not only a startling indictme..."
1130014,m/zulu_dawn,Dennis Schwartz,False,Dennis Schwartz Movie Reviews,Fresh,B+,2010-09-16,A rousing visual spectacle that's a prequel of...
1130015,m/zulu_dawn,Christopher Lloyd,False,Sarasota Herald-Tribune,Rotten,3.5/5,2011-02-28,"A simple two-act story: Prelude to war, and th..."
1130016,m/zulu_dawn,Brent McKnight,False,The Last Thing I See,Rotten,C,2020-07-09,Rides the line between being a pure artifact o...

In [4]:
rotten_tomato_movie = pd.read_csv("rotten_tomatoes_movies.csv")
rotten_tomato_movie = rotten_tomato_movie[['rotten_tomatoes_link','movie_title', 'critics_consensus', 'original_release_date']]
rotten_tomato_movie['original_release_date'] = [str(i).split('-')[0] if str(i).split('-')[0]!='nan' else '' for i in rotten_tomato_movie['original_release_date']]
rotten_tomato_movie = rotten_tomato_movie.rename(columns={"original_release_date": "year"}, errors="raise")
rotten_tomato_movie['imdb_id'] = None
rotten_tomato_movie

,rotten_tomatoes_link,movie_title,critics_consensus,year,imdb_id
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,2010,None
1,m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,2010,None
2,m/10,10,Blake Edwards' bawdy comedy may not score a pe...,1979,None
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Sidney Lumet's feature debut is a superbly wri...,1957,None
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",1954,None
...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,NaN,1981,None
17708,m/zootopia,Zootopia,The brilliantly well-rounded Zootopia offers a...,2016,None
17709,m/zorba_the_greek,Zorba the Greek,NaN,1964,None
17710,m/zulu,Zulu,Zulu patiently establishes a cast of colorful ...,1964,None
17711,m/zulu_dawn,Zulu Dawn,NaN,1979,None

In [12]:
for i in range(7346):
    params = {
    't':str(rotten_tomato_movie['movie_title'][i]),
    'type':'movie',
    'y':rotten_tomato_movie['year'][i]    
    }
    try:
        response = requests.get(data_URL,params=params).json()
        if 'imdbID' in response.keys():
            rotten_tomato_movie['imdb_id'][i] = response['imdbID']
    except:
        continue

0
1
2
4
5
6
7
9
10
11
12
13
14
17
18
20
21
22
24
25
26
27
28
29
30
31
33
34
35
36
37
38
41
42
43
44
45
46
47
48
49
50
51
52
55
56
57
58
59
61
62
63
64
65
66
68
69
70
71
72
73
74
75
76
77
78
79
80
82
83
84
85
86
88
89
90
91
92
93
95
96
97
99
100
101
102
103
105
106
107
108
109
110
111
112
114
115
116
117
118
119
120
121
122
123
124
125
126
130
132
133
134
135
137
138
139
141
142
143
144
145
146
147
149
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
171
172
173
174
175
176
177
178
179
180
181
182
183
184
186
187
189
192
193
194
195
196
197
198
199
200
201
202
203
206
207
208
209
210
211
212
213
214
218
219
220
222
223
225
227
230
231
234
236
237
238
239
240
243
244
245
246
248
249
250
251
252
253
255
256
257
258
259
260
261
262
263
265
266
267
268
269
270
271
272
273
274
276
277
280
281
282
283
284
285
286
288
289
290
292
293
294
295
296
297
298
299
300
301
302
303
304
305
307
309
310
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
329
330
331
332
333
334
335
336
337
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
370
371
372
373
374
375
376
377
378
379
380
381
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
401
402
403
404
405
406
407
408
409
411
412
413
414
415
416
417
418
419
420
421
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
458
459
460
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
493
494
495
496
497
498
499
501
502
504
505
506
507
508
509
510
511
512
513
514
515
516
518
519
520
521
522
523
524
525
526
527
528
529
530
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
577
579
580
581
582
583
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
646
647
648
649
650
651
652
653
654
655
656
658
659
660
661
662
663
664
665
666
667
668
669
670
671
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
693
694
695
696
697
698
699
700
701
702
703
704
705
706
708
709
710
711
712
713
714
715
716
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
775
776
777
778
779
780
781
783
784
785
786
787
788
790
791
792
793
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
838
839
840
841
842
843
844
845
846
847
849
850
851
852
853
854
855
857
858
859
860
863
864
865
866
867
868
870
871
872
873
874
875
876
877
878
880
881
882
883
884
885
886
887
888
889
891
892
893
894
896
897
898
899
901
902
903
904
905
906
907
909
910
911
912
913
914
915
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
933
934
935
937
938
939
940
941
942
943
944
945
946
947
948
950
951
952
953
954
955
956
957
958
959
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
978
979
980
981
983
984
985
986
987
988
989
991
993
994
996
998
1000
1001
1002
1003
1004
1005
1006
1007
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1021
1022
1023
1025
1027
1028
1029
1030
1031
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1058
1059
1060
1061
1062
1063
1064
1065
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1078
1080
1082
1083
1084
1086
1087
1088
1089
1090
1091
1092
1093
1095
1096
1097
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1114
1115
1116
1117
1118
1119
1120
1121
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1140
1141
1142
1143
1144
1145
1147
1148
1149
1150
1151
1153
1154
1155
1156
1157
1158
1159
1160
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1180
1181
1182
1185
1186
1187
1188
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1205
1206
1207
1208
1209
1210
1211
1213
1214
1215
1216
1217
1218
1219
1220
1222
1223
1224
1225
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1241
1242
1243
1244
1245
1246
1247
1250
1251
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1273
1274
1275
1276
1278
1279
1281
1282
1283
1284
1285
1286
1287
1289
1291
1292
1293
1294
1295
1296
1297
1298
1300
1301
1302
1303
1304
1306
1307
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1347
1348
1349
1350
1351
1352
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1370
1371
1372
1373
1375
1376
1377
1378
1379
1380
1381
1382
1384
1385
1386
1387
1388
1389
1391
1392
1393
1394
1395
1396
1397
1398
1399
1401
1403
1404
1405
1406
1407
1409
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1425
1426
1428
1429
1430
1431
1432
1433
1434
1435
1438
1439
1440
1441
1443
1444
1445
1446
1447
1448
1449
1450
1451
1453
1454
1455
1456
1459
1460
1461
1463
1464
1465
1466
1467
1468
1469
1471
1472
1473
1474
1476
1477
1479
1480
1481
1482
1483
1484
1486
1488
1489
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1514
1515
1516
1518
1519
1521
1523
1524
1525
1529
1530
1532
1533
1534
1536
1537
1539
1540
1541
1544
1545
1547
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1565
1568
1569
1570
1571
1573
1574
1575
1576
1577
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1591
1592
1594
1596
1598
1599
1601
1602
1603
1604
1605
1606
1607
1608
1609
1611
1612
1613
1615
1616
1617
1618
1619
1620
1623
1624
1625
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1651
1652
1653
1654
1655
1658
1659
1660
1661
1663
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1676
1677
1678
1679
1681
1682
1683
1686
1687
1688
1689
1690
1693
1694
1695
1696
1697
1698
1700
1702
1703
1704
1705
1706
1707
1709
1710
1711
1712
1713
1714
1715
1716
1717
1719
1720
1721
1722
1724
1725
1726
1727
1728
1729
1730
1731
1732
1734
1735
1736
1737
1739
1741
1744
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1758
1759
1760
1761
1762
1763
1764
1766
1767
1768
1769
1770
1771
1772
1773
1774
1776
1777
1778
1779
1780
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1796
1797
1798
1799
1800
1801
1802
1803
1804
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1830
1832
1833
1834
1835
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1850
1851
1852
1853
1854
1856
1857
1858
1859
1860
1861
1862
1863
1866
1867
1868
1869
1872
1873
1876
1878
1879
1880
1882
1885
1887
1888
1889
1890
1891
1893
1894
1897
1898
1899
1900
1901
1902
1903
1904
1907
1908
1909
1910
1911
1912
1913
1915
1916
1919
1920
1922
1923
1924
1925
1927
1928
1932
1934
1935
1936
1937
1938
1939
1941
1942
1948
1949
1950
1951
1953
1955
1956
1957
1958
1959
1960
1961
1962
1964
1966
1968
1969
1970
1972
1974
1975
1980
1982
1983
1984
1985
1988
1989
1990
1991
1992
1993
1996
1997
1998
1999
2000
2004
2005
2006
2007
2008
2009
2010
2013
2018
2021
2022
2023
2024
2025
2026
2029
2030
2031
2033
2035
2037
2038
2039
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2055
2058
2060
2061
2064
2066
2067
2070
2071
2072
2073
2075
2076
2079
2080
2082
2086
2092
2096
2098
2099
2100
2102
2109
2112
2113
2114
2115
2116
2117
2121
2122
2125
2127
2128
2129
2130
2131
2133
2135
2136
2137
2138
2140
2141
2143
2146
2147
2148
2149
2152
2154
2156
2157
2158
2159
2164
2166
2167
2169
2170
2171
2172
2174
2176
2177
2179
2180
2181
2182
2183
2184
2185
2187
2188
2193
2195
2196
2197
2199
2201
2202
2203
2205
2206
2207
2209
2210
2214
2215
2217
2218
2221
2222
2223
2225
2227
2228

2229
2230
2231
2233
2234
2237
2240
2241
2244
2246
2247
2248
2250
2252
2254
2259
2260
2261
2262
2263
2264
2266
2267
2268
2269
2270
2271
2274
2275
2277
2278
2279
2280
2281
2283
2284
2285
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2299
2300
2303
2304
2305
2307
2309
2314
2315
2316
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2329
2330
2331
2332
2335
2336
2337
2338
2339
2340
2342
2344
2345
2346
2347
2348
2349
2352
2353
2354
2355
2358
2359
2360
2361
2362
2364
2365
2366
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2382
2383
2386
2387
2388
2391
2393
2394
2396
2398
2399
2401
2402
2404
2405
2407
2408
2409
2411
2415
2416
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2433
2434
2440
2442
2443
2444
2445
2446
2447
2448
2449
2451
2452
2453
2455
2456
2457
2460
2461
2464
2468
2470
2471
2474
2475
2476
2477
2478
2479
2480
2482
2484
2485
2486
2487
2488
2489
2490
2492
2493
2495
2496
2497
2499
2500
2501
2503
2504
2506
2507
2508
2513
2514
2516
2517
2518
2519
2520
2521
2524
2527
2528
2529
2532
2533
2534
2535
2537
2538
2539
2541
2542
2543
2544
2546
2547
2548
2549
2550
2551
2552
2555
2556
2558
2559
2561
2563
2564
2565
2566
2567
2569
2572
2574
2576
2578
2580
2581
2582
2583
2584
2585
2586
2587
2589
2590
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2604
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2618
2619
2621
2625
2626
2627
2628
2629
2631
2632
2633
2634
2635
2636
2637
2640
2641
2642
2643
2645
2646
2648
2650
2651
2652
2653
2655
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2671
2673
2674
2675
2676
2677
2678
2679
2681
2682
2683
2684
2685
2687
2688
2689
2690
2691
2693
2695
2696
2697
2698
2699
2701
2703
2705
2706
2708
2709
2710
2711
2714
2715
2717
2719
2721
2722
2723
2725
2727
2728
2729
2730
2732
2734
2735
2738
2739
2740
2741
2743
2744
2747
2748
2749
2750
2751
2754
2755
2756
2757
2760
2761
2762
2764
2765
2766
2767
2768
2770
2772
2773
2774
2775
2776
2777
2779
2780
2781
2782
2783
2784
2786
2787
2788
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2807
2808
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2821
2822
2823
2826
2827
2828
2829
2830
2832
2834
2835
2836
2837
2838
2841
2842
2843
2844
2846
2847
2848
2849
2850
2851
2853
2856
2857
2858
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2876
2877
2878
2881
2882
2883
2884
2885
2886
2887
2888
2890
2891
2892
2894
2895
2896
2897
2898
2899
2900
2902
2903
2904
2905
2906
2908
2909
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2923
2925
2926
2927
2928
2931
2932
2933
2934
2935
2936
2937
2938
2940
2941
2942
2947
2948
2950
2951
2953
2954
2955
2956
2957
2959
2960
2961
2962
2963
2964
2965
2968
2969
2970
2971
2973
2974
2975
2977
2978
2980
2981
2982
2983
2984
2986
2987
2988
2989
2990
2992
2995
2997
2999
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3016
3017
3018
3019
3021
3022
3025
3027
3028
3029
3030
3031
3032
3033
3035
3036
3037
3038
3039
3041
3043
3044
3045
3047
3050
3052
3053
3055
3056
3057
3058
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3075
3076
3078
3079
3080
3082
3083
3084
3086
3087
3088
3089
3090
3091
3092
3094
3095
3096
3097
3099
3101
3103
3104
3105
3106
3107
3108
3109
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3128
3129
3130
3136
3137
3140
3143
3144
3145
3146
3147
3148
3150
3152
3153
3154
3156
3159
3160
3161
3163
3164
3166
3167
3168
3169
3171
3172
3174
3179
3180
3182
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3197
3198
3200
3201
3202
3203
3204
3205
3206
3209
3210
3211
3212
3213
3214
3215
3216
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3242
3243
3245
3246
3247
3248
3249
3250
3251
3252
3253
3254
3256
3258
3259
3260
3261
3262
3263
3264
3265
3266
3267
3268
3269
3270
3271
3272
3274
3275
3277
3278
3281
3282
3283
3284
3285
3286
3288
3289
3290
3292
3293
3294
3295
3296
3298
3299
3300
3301
3302
3303
3304
3307
3310
3311
3312
3313
3314
3315
3317
3318
3319
3320
3321
3323
3324
3325
3326
3327
3328
3329
3331
3332
3334
3335
3337
3338
3339
3340
3341
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3355
3356
3357
3358
3359
3360
3361
3362
3365
3366
3367
3368
3372
3373
3374
3375
3376
3377
3378
3379
3380
3381
3384
3385
3386
3388
3389
3390
3391
3392
3393
3394
3396
3397
3399
3400
3402
3403
3404
3405
3406
3408
3409
3410
3411
3412
3413
3414
3416
3417
3418
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3430
3432
3434
3435
3438
3439
3441
3442
3443
3444
3445
3446
3449
3450
3451
3453
3454
3455
3456
3457
3458
3459
3460
3461
3462
3463
3464
3465
3469
3470
3471
3472
3473
3474
3475
3476
3477
3478
3479
3480
3481
3483
3485
3487
3488
3491
3492
3493
3495
3497
3499
3500
3501
3502
3503
3504
3505
3506
3508
3509
3510
3512
3513
3514
3515
3518
3520
3521
3522
3524
3526
3527
3528
3529
3530
3531
3532
3533
3534
3537
3538
3540
3541
3542
3543
3544
3545
3546
3547
3550
3551
3552
3554
3557
3558
3560
3561
3563
3565
3567
3568
3569
3570
3571
3572
3574
3575
3577
3578
3579
3580
3581
3582
3584
3585
3587
3588
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3600
3601
3602
3603
3604
3605
3606
3608
3611
3612
3614
3615
3616
3618
3619
3620
3621
3622
3623
3624
3625
3626
3628
3629
3630
3631
3632
3633
3636
3637
3638
3639
3640
3641
3642
3643
3645
3646
3648
3649
3651
3652
3653
3654
3655
3658
3659
3661
3662
3663
3664
3666
3668
3669
3670
3672
3673
3674
3675
3676
3678
3680
3681
3682
3683
3684
3685
3686
3687
3690
3691
3693
3695
3696
3697
3698
3699
3700
3701
3702
3705
3706
3707
3708
3709
3710
3711
3713
3714
3715
3717
3719
3720
3723
3724
3728
3729
3730
3731
3734
3735
3736
3737
3739
3740
3741
3743
3744
3745
3747
3748
3749
3750
3751
3752
3753
3756
3757
3758
3761
3762
3763
3764
3765
3766
3768
3769
3770
3771
3772
3774
3775
3776
3778
3779
3780
3781
3782
3783
3784
3785
3786
3787
3788
3790
3791
3792
3793
3794
3795
3796
3797
3798
3799
3801
3802
3803
3804
3806
3808
3809
3810
3812
3813
3814
3815
3817
3820
3822
3823
3825
3827
3828
3829
3830
3831
3832
3833
3834
3835
3837
3838
3839
3840
3842
3843
3845
3846
3847
3848
3849
3850
3853
3855
3856
3857
3858
3859
3860
3861
3862
3863
3864
3865
3866
3867
3868
3869
3870
3871
3872
3873
3875
3876
3877
3878
3879
3881
3882
3883
3884
3885
3886
3887
3888
3891
3894
3895
3896
3897
3898
3899
3902
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
3918
3919
3920
3921
3922
3923
3924
3925
3927
3928
3929
3930
3933
3934
3936
3937
3938
3940
3942
3943
3944
3945
3947
3948
3950
3951
3952
3953
3955
3957
3959
3960
3961
3962
3963
3964
3965
3966
3968
3969
3972
3973
3974
3975
3976
3978
3979
3980
3981
3982
3983
3984
3985
3986
3988
3989
3990
3991
3994
3996
3997
3998
3999
4000
4002
4003
4004
4006
4007
4010
4011
4012
4013
4014
4015
4016
4017
4018
4019
4020
4021
4022
4023
4024
4025
4026
4027
4028
4029
4030
4031
4032
4033
4034
4037
4039
4041
4043
4044
4045
4046
4047
4049
4050
4051
4054
4055
4056
4057
4058
4059
4061
4062
4063
4064
4065
4066
4067
4068
4069
4070
4072
4074
4075
4076
4077
4078
4079
4080
4082
4083
4084
4086
4087
4088
4089
4090
4092
4096
4098
4099
4100
4101
4102
4103
4104
4107
4109
4110
4111
4112
4113
4114
4115
4117
4118
4119
4121
4122
4123
4124
4125
4126
4127
4128
4129
4130
4131
4132
4133
4134
4136
4137
4138
4139
4140
4141
4142
4143
4145
4146
4147
4148
4149
4151
4153
4154
4155
4156
4157
4163
4164
4165
4167
4168
4169
4170
4171
4175
4176
4177
4179
4181
4184
4185
4186
4187
4188
4189
4195
4196
4198
4199
4201
4202
4203
4204
4205
4206
4207
4208
4209
4210
4212
4215
4216
4217
4219
4220
4221
4223
4224
4225
4227
4229
4230
4233
4234
4236
4237
4239
4240
4241
4242
4243
4244
4245
4247
4248
4249
4250
4252
4253
4255
4256
4257
4258
4259
4263
4265
4266
4269
4271
4272
4273
4275
4276
4277
4278
4280
4282
4283
4285
4286
4287
4288
4289
4290
4291
4292
4293
4294
4295
4296
4297
4299
4300
4301
4302
4303
4304
4305
4307
4308
4309
4310
4311
4312
4313
4314
4315
4316
4317
4319
4320
4321
4322
4323
4324
4325
4326
4327
4328
4329
4331
4332
4333
4334
4335
4336
4339
4340
4341
4343
4344
4346
4347
4348
4349
4350
4352
4353
4356
4357
4359
4360
4361
4362
4363
4365
4366
4367
4369
4370
4371
4374
4375
4378
4379
4380
4381
4382
4384
4386
4387
4388
4389
4390
4392
4393
4396
4398
4399
4400
4401
4403
4404
4405
4407

4409
4410
4411
4412
4413
4414
4416
4417
4418
4419
4421
4422
4423
4424
4425
4427
4428
4429
4430
4431
4432
4433
4435
4436
4437
4438
4439
4440
4441
4442
4443
4444
4445
4446
4447
4448
4449
4451
4452
4453
4455
4456
4457
4458
4459
4461
4462
4463
4464
4465
4466
4467
4468
4469
4471
4472
4473
4475
4476
4477
4478
4480
4481
4482
4483
4484
4485
4487
4488
4489
4490
4491
4493
4494
4496
4497
4498
4499
4500
4503
4504
4505
4506
4507
4508
4509
4510
4513
4515
4517
4520
4522
4524
4528
4529
4530
4531
4532
4533
4535
4536
4538
4539
4540
4541
4542
4543
4548
4549
4550
4551
4553
4554
4555
4559
4561
4563
4564
4565
4566
4568
4569
4570
4571
4572
4573
4574
4575
4576
4578
4579
4580
4581
4582
4584
4585
4586
4589
4590
4591
4592
4593
4596
4597
4598
4599
4602
4603
4604
4606
4607
4608
4610
4611
4612
4613
4614
4615
4617
4619
4620
4622
4623
4624
4625
4626
4627
4630
4631
4632
4635
4636
4637
4643
4644
4646
4647
4649
4650
4654
4655
4656
4657
4658
4659
4660
4661
4662
4663
4664
4665
4667
4668
4670
4671
4672
4673
4674
4675
4676
4677
4678
4679
4680
4681
4682
4683
4684
4686
4687
4688
4689
4690
4691
4692
4694
4696
4698
4700
4704
4706
4707
4708
4709
4710
4711
4712
4713
4714
4715
4716
4717
4718
4719
4720
4721
4722
4723
4724
4726
4727
4728
4729
4731
4732
4734
4735
4738
4739
4741
4743
4744
4745
4746
4750
4752
4754
4755
4756
4758
4760
4761
4762
4765
4767
4768
4769
4770
4772
4773
4774
4777
4778
4779
4782
4783
4785
4787
4789
4790
4792
4793
4796
4798
4799
4800
4801
4802
4803
4804
4806
4809
4810
4812
4813
4814
4815
4817
4818
4819
4820
4821
4822
4823
4825
4826
4827
4828
4829
4830
4831
4832
4833
4834
4835
4836
4837
4839
4840
4841
4842
4843
4844
4845
4846
4848
4849
4850
4851
4852
4853
4854
4855
4856
4859
4860
4862
4863
4864
4865
4866
4867
4868
4869
4870
4871
4872
4873
4874
4875
4876
4877
4878
4879
4880
4882
4884
4885
4886
4887
4888
4889
4892
4893
4894
4895
4896
4898
4902
4904
4905
4907
4908
4909
4910
4911
4912
4914
4917
4918
4919
4920
4923
4924
4925
4926
4928
4929
4930
4931
4932
4933
4934
4935
4936
4937
4938
4939
4941
4942
4943
4944
4945
4946
4947
4948
4949
4950
4951
4952
4953
4954
4955
4956
4957
4958
4960
4961
4962
4963
4964
4965
4966
4967
4968
4969
4972
4973
4974
4975
4976
4977
4978
4979
4981
4982
4983
4985
4986
4987
4988
4989
4990
4991
4993
4994
4995
4996
4997
4999
5000
5001
5003
5004
5005
5006
5007
5008
5009
5010
5011
5012
5014
5015
5016
5017
5018
5019
5020
5021
5022
5023
5024
5025
5027
5028
5029
5030
5032
5033
5034
5035
5036
5038
5039
5041
5042
5043
5044
5046
5047
5048
5049
5050
5051
5052
5053
5054
5055
5058
5059
5060
5061
5062
5064
5065
5066
5068
5070
5071
5072
5073
5074
5075
5076
5077
5078
5079
5080
5081
5083
5084
5085
5086
5087
5088
5089
5090
5091
5092
5093
5094
5096
5098
5099
5100
5101
5102
5103
5105
5106
5107
5108
5109
5110
5112
5113
5115
5116
5117
5118
5119
5120
5121
5122
5123
5124
5125
5126
5128
5129
5130
5131
5132
5134
5136
5137
5138
5139
5141
5143
5144
5146
5147
5148
5149
5150
5151
5152
5154
5155
5157
5158
5162
5163
5165
5167
5168
5169
5172
5173
5174
5175
5176
5177
5178
5179
5180
5181
5182
5183
5184
5185
5186
5187
5188
5189
5190
5191
5194
5195
5196
5197
5198
5199
5200
5201
5202
5203
5205
5206
5207
5208
5209
5211
5212
5213
5214
5217
5218
5219
5220
5221
5223
5226
5228
5230
5233
5234
5236
5237
5243
5246
5247
5250
5251
5252
5253
5254
5255
5256
5257
5258
5259
5260
5263
5267
5268
5269
5270
5271
5272
5275
5276
5277
5278
5281
5282
5283
5284
5285
5286
5288
5292
5294
5295
5297
5298
5299
5300
5302
5303
5304
5305
5309
5311
5312
5313
5314
5315
5318
5319
5320
5321
5322
5323
5324
5325
5327
5328
5329
5330
5331
5332
5333
5335
5336
5338
5339
5341
5343
5345
5346
5347
5348
5349
5350
5351
5353
5355
5357
5358
5360
5361
5362
5364
5365
5366
5367
5368
5369
5370
5371
5374
5375
5376
5377
5378
5379
5380
5382
5383
5384
5385
5386
5387
5388
5389
5390
5391
5393
5394
5396
5397
5398
5399
5401
5402
5403
5404
5405
5406
5407
5408
5409
5410
5411
5414
5416
5417
5418
5419
5420
5421
5422
5424
5425
5426
5428
5429
5431
5433
5434
5436
5438
5439
5442
5443
5444
5446
5447
5448
5449
5450
5451
5452
5453
5454
5455
5456
5458
5459
5460
5464
5465
5466
5469
5470
5471
5472
5473
5474
5477
5478
5479
5482
5483
5485
5486
5487
5488
5489
5490
5491
5493
5494
5495
5496
5498
5500
5501
5504
5507
5508
5509
5510
5511
5513
5514
5516
5517
5519
5520
5521
5522
5523
5524
5525
5526
5527
5528
5529
5531
5532
5533
5535
5537
5538
5539
5540
5542
5543
5544
5546
5547
5555
5558
5559
5560
5562
5564
5565
5566
5567
5568
5569
5572
5573
5574
5575
5578
5579
5580
5582
5583
5584
5585
5586
5589
5590
5592
5593
5594
5595
5596
5597
5598
5599
5600
5601
5603
5604
5606
5607
5608
5609
5611
5612
5613
5614
5615
5617
5618
5621
5622
5623
5624
5625
5627
5628
5629
5630
5631
5632
5634
5635
5636
5637
5638
5641
5642
5645
5646
5648
5651
5653
5654
5655
5656
5657
5658
5659
5660
5661
5662
5663
5664
5665
5666
5667
5668
5669
5670
5671
5672
5676
5678
5679
5680
5683
5685
5686
5687
5689
5691
5692
5693
5694
5696
5699
5700
5702
5703
5704
5705
5708
5710
5711
5712
5713
5716
5717
5718
5720
5721
5722
5723
5725
5726
5727
5728
5729
5730
5731
5736
5737
5738
5739
5740
5741
5742
5743
5744
5745
5746
5747
5748
5749
5751
5752
5753
5754
5756
5757
5758
5759
5760
5761
5762
5763
5764
5765
5766
5767
5768
5769
5770
5771
5772
5773
5775
5776
5778
5779
5780
5781
5782
5783
5784
5785
5786
5788
5789
5793
5794
5795
5796
5797
5798
5800
5802
5803
5804
5805
5806
5807
5808
5809
5810
5811
5812
5813
5814
5815
5816
5817
5819
5820
5821
5822
5823
5824
5825
5826
5827
5828
5829
5830
5831
5832
5834
5835
5837
5839
5840
5841
5843
5844
5846
5847
5848
5849
5850
5851
5853
5855
5856
5857
5859
5860
5861
5862
5863
5864
5865
5866
5868
5870
5871
5872
5873
5875
5876
5877
5878
5879
5880
5882
5883
5884
5885
5887
5889
5890
5891
5893
5894
5895
5896
5897
5898
5899
5900
5902
5905
5906
5908
5909
5911
5912
5913
5914
5915
5917
5922
5927
5928
5929
5930
5934
5936
5938
5940
5941
5943
5944
5946
5947
5948
5950
5952
5953
5955
5958
5959
5960
5961
5962
5964
5965
5967
5968
5970
5971
5972
5973
5974
5975
5976
5978
5979
5981
5982
5983
5985
5986
5988
5989
5990
5991
5992
5993
5994
5996
5998
6000
6001
6002
6003
6004
6008
6009
6010
6012
6013
6014
6018
6020
6023
6024
6025
6026
6027
6028
6030
6031
6032
6033
6035
6036
6037
6038
6039
6041
6042
6045
6046
6047
6048
6051
6052
6053
6054
6055
6056
6057
6058
6059
6060
6061
6062
6063
6064
6065
6066
6067
6069
6070
6071
6072
6073
6076
6078
6079
6080
6083
6084
6085
6086
6087
6088
6089
6090
6091
6092
6093
6094
6095
6096
6097
6098
6101
6102
6103
6105
6107
6108
6109
6111
6113
6114
6116
6117
6118
6119
6120
6121
6122
6124
6127
6128
6129
6130
6134
6135
6136
6139
6140
6141
6142
6144
6146
6147
6148
6149
6152
6153
6155
6157
6158
6159
6161
6163
6165
6166
6168
6169
6170
6171
6172
6173
6174
6176
6177
6179
6180
6181
6182
6183
6184
6185
6186
6187
6188
6189
6190
6191
6194
6196
6198
6199
6200
6201
6202
6203
6204
6205
6207
6208
6209
6210
6211
6212
6214
6215
6216
6217
6219
6221
6222
6223
6224
6226
6228
6229
6230
6231
6232
6234
6236
6237
6238
6243
6244
6245
6246
6249
6250
6252
6253
6254
6256
6259
6261
6262
6263
6264
6265
6267
6268
6269
6270
6271
6272
6273
6274
6275
6276
6277
6279
6284
6285
6286
6287
6288
6289
6290
6291
6292
6293
6294
6296
6300
6302
6303
6304
6305
6306
6307
6308
6309
6310
6312
6314
6315
6316
6317
6318
6320
6321
6322
6323
6324
6325
6326
6327
6328
6329
6330
6331
6332
6333
6334
6335
6337
6340
6341
6342
6344
6345
6347
6348
6349
6350
6352
6353
6354
6355
6356
6357
6358
6359
6360
6362
6363
6364
6366
6367
6368
6369
6370
6371
6372
6373
6374
6375
6376
6378
6379
6381
6382
6383
6384
6385
6386
6387
6389
6390
6391
6395
6396
6397
6398
6399
6402
6403
6404
6405
6406
6407
6408
6410
6411
6412
6413
6414
6416
6420
6421
6422
6423
6424
6425
6426
6427
6428
6429
6430
6431
6432
6433
6434
6435
6436
6437
6438
6439
6440
6441
6443
6444
6445
6447
6448
6449
6450
6451
6453
6454
6455
6458
6459
6460
6461
6462
6464
6466
6467
6468
6470
6471
6472
6473
6474
6475
6476
6478
6479
6481
6482
6483
6484
6485
6486
6488
6489
6492
6495
6496
6497
6498
6499
6500
6503
6504
6505
6508
6509
6510
6511
6512
6513
6514
6515
6516
6518
6520
6521
6522
6523
6525
6527
6528
6529
6530
6531
6532
6533
6534
6535
6536
6537
6538
6539
6540
6541
6542
6544
6546
6547
6548
6550
6551
6552
6554
6555
6557
6558
6559
6560
6561
6562
6563
6564
6565
6567
6568
6569
6570
6571
6572
6574
6575
6576
6577
6578
6579
6580
6581

6582
6583
6584
6587
6590
6591
6592
6593
6595
6596
6599
6600
6602
6604
6605
6607
6608
6609
6610
6611
6613
6614
6616
6617
6618
6619
6621
6622
6623
6624
6626
6627
6628
6630
6631
6633
6634
6636
6637
6638
6640
6641
6642
6644
6645
6646
6647
6648
6649
6652
6653
6654
6655
6656
6657
6658
6659
6660
6663
6664
6665
6669
6670
6671
6672
6673
6674
6675
6676
6677
6678
6679
6680
6681
6682
6683
6684
6686
6688
6691
6692
6693
6695
6696
6697
6698
6699
6700
6703
6707
6708
6709
6710
6711
6712
6713
6714
6715
6716
6718
6720
6724
6725
6727
6728
6731
6732
6733
6734
6735
6736
6737
6738
6739
6740
6741
6742
6744
6745
6746
6748
6750
6751
6752
6753
6754
6755
6756
6757
6758
6759
6760
6761
6762
6763
6765
6766
6767
6768
6769
6770
6771
6772
6774
6775
6776
6777
6779
6780
6781
6782
6784
6785
6787
6788
6789
6790
6791
6792
6795
6798
6800
6802
6803
6804
6806
6807
6808
6809
6810
6811
6812
6814
6815
6816
6817
6818
6819
6825
6826
6827
6828
6829
6830
6831
6832
6833
6834
6835
6837
6838
6839
6840
6841
6842
6843
6845
6846
6847
6850
6851
6852
6853
6855
6856
6857
6858
6859
6860
6862
6863
6864
6866
6867
6868
6869
6870
6871
6873
6874
6876
6877
6878
6879
6880
6882
6883
6884
6885
6886
6887
6889
6890
6892
6893
6894
6896
6897
6898
6899
6900
6904
6905
6909
6911
6912
6915
6917
6918
6919
6920
6921
6922
6923
6924
6925
6926
6927
6928
6932
6934
6935
6936
6937
6939
6940
6942
6943
6944
6945
6946
6948
6949
6950
6951
6952
6953
6954
6956
6957
6958
6960
6961
6962
6963
6965
6967
6968
6970
6971
6972
6973
6974
6975
6976
6977
6978
6979
6980
6981
6983
6984
6986
6987
6988
6989
6990
6991
6993
6994
6995
6996
6997
6999
7000
7002
7003
7004
7005
7006
7007
7009
7010
7013
7017
7018
7019
7021
7023
7024
7028
7029
7032
7033
7034
7035
7036
7037
7038
7042
7044
7045
7046
7047
7049
7051
7052
7053
7056
7058
7059
7060
7061
7062
7064
7065
7066
7067
7069
7070
7073
7076
7077
7078
7079
7081
7082
7084
7086
7087
7088
7090
7091
7092
7093
7094
7095
7098
7099
7100
7101
7103
7104
7106
7107
7108
7109
7112
7115
7117
7118
7122
7123
7127
7128
7131
7132
7133
7135
7136
7137
7138
7139
7140
7141
7142
7143
7144
7149
7150
7151
7153
7154
7156
7157
7159
7160
7161
7162
7164
7165
7166
7167
7169
7170
7171
7172
7173
7175
7176
7177
7179
7180
7182
7184
7186
7187
7188
7189
7190
7191
7192
7193
7194
7196
7197
7198
7199
7200
7202
7205
7206
7207
7208
7209
7210
7211
7212
7216
7217
7219
7220
7221
7223
7224
7225
7226
7228
7229
7232
7233
7234
7236
7237
7238
7240
7241
7242
7243
7244
7245
7247
7248
7249
7250
7252
7253
7254
7255
7256
7257
7259
7260
7261
7262
7264
7265
7266
7267
7269
7270
7272
7273
7274
7275
7277
7278
7279
7280
7281
7282
7283
7284
7285
7286
7287
7288
7289
7291
7292
7293
7295
7296
7297
7298
7299
7300
7302
7303
7304
7309
7311
7312
7313
7314
7315
7316
7317
7318
7319
7320
7323
7324
7325
7328
7330
7331
7332
7333
7334
7335
7337
7338
7339
7340
7341
7342
7343
7344
7345

In [42]:
rotten_tomato_movie = rotten_tomato_movie.dropna()
rotten_tomato_movie

,rotten_tomatoes_link,movie_title,critics_consensus,year,imdb_id
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Though it may seem like just another Harry Pot...,2010,tt0814255
1,m/0878835,Please Give,Nicole Holofcener's newest might seem slight i...,2010,tt0878835
2,m/10,10,Blake Edwards' bawdy comedy may not score a pe...,1979,tt0078721
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","One of Disney's finest live-action adventures,...",1954,tt0046672
5,m/10000_bc,"10,000 B.C.",With attention strictly paid to style instead ...,2008,tt0443649
...,...,...,...,...,...
17704,m/zoolander,Zoolander,"A wacky satire on the fashion industry, Zoolan...",2001,tt0196229
17705,m/zoolander_2,Zoolander 2,Zoolander No. 2 has more celebrity cameos than...,2016,tt1608290
17706,m/zoom_2006,Zoom,Lacking the punch and good cheer of The Incred...,2006,tt0383060
17708,m/zootopia,Zootopia,The brilliantly well-rounded Zootopia offers a...,2016,tt2948356
17710,m/zulu,Zulu,Zulu patiently establishes a cast of colorful ...,1964,tt0058777

In [75]:
rotten_tomato_critic = rotten_tomato_critic.astype(object).replace(np.nan, 'None')
inner_merged_total = pd.merge(rotten_tomato_critic, rotten_tomato_movie[['rotten_tomatoes_link', 'imdb_id']], on=['rotten_tomatoes_link'])
inner_merged_total = inner_merged_total[-inner_merged_total[['critic_name','publisher_name']].isna().all(axis=1)]
inner_merged_total['critic_name'] = [inner_merged_total['critic_name'][i] if inner_merged_total['critic_name'][i]!='None' else inner_merged_total['publisher_name'][i] for i in range(len(inner_merged_total['critic_name']))]
inner_merged_total

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content,imdb_id
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,None,2010-02-06,A fantasy adventure that fuses Greek mythology...,tt0814255
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,None,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff...",tt0814255
2,m/0814255,FILMINK (Australia),False,FILMINK (Australia),Fresh,None,2010-02-09,With a top-notch cast and dazzling special eff...,tt0814255
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...,tt0814255
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,None,2010-02-10,What's really lacking in The Lightning Thief i...,tt0814255
...,...,...,...,...,...,...,...,...,...
840227,m/zulu,Tony Sloman,False,Radio Times,Fresh,5/5,2017-07-10,The movie is a revelation.,tt0058777
840228,m/zulu,Sky Cinema,False,Sky Cinema,Fresh,5/5,2017-07-10,"This is that rarity in films - an all-action, ...",tt0058777
840229,m/zulu,Empire Magazine,False,Empire Magazine,Fresh,4/5,2017-07-10,As a spectacular war film with a powerful mora...,tt0058777
840230,m/zulu,Isabel Quigly,False,The Spectator,Fresh,None,2020-03-11,"The tension mounts, breaks, mounts, seems unbe...",tt0058777
840231,m/zulu,Joan Didion,False,Vogue,Fresh,None,2020-03-16,A rousing reconstruction of the 1879 Battle of...,tt0058777

In [ ]:
#rotten_tomato_movie.to_csv("movie.csv")

# critic.csv

In [73]:
critic = inner_merged_total[['critic_name', 'top_critic', 'publisher_name']].drop_duplicates(ignore_index=True)
critic['critic_id'] = critic.index
critic = critic[['critic_id', 'critic_name', 'top_critic', 'publisher_name']]
critic

       critic_id           critic_name top_critic           publisher_name
0              0       Andrew L. Urban      False           Urban Cinefile
1              1         Louise Keller      False           Urban Cinefile
2              2   FILMINK (Australia)      False      FILMINK (Australia)
3              3          Ben McEachen      False  Sunday Mail (Australia)
4              4           Ethan Alter       True       Hollywood Reporter
...          ...                   ...        ...                      ...
15109      15109           Hanna Flint      False               Metro (UK)
15110      15110           Kate Leaver      False               Metro (UK)
15111      15111     Michael Jaconelli      False               The Skinny
15112      15112  Josh Slater-Williams      False           The Film Stage
15113      15113           Will Heaven       True     Daily Telegraph (UK)

[15114 rows x 4 columns]

In [79]:
#critic.to_csv("critic.csv")

# review.csv

In [78]:
review_info = pd.merge(inner_merged_total, critic, on=['critic_name', 'top_critic', 'publisher_name'])
review_info = review_info[['critic_id','imdb_id','review_type', 'review_date', 'review_content']]
review_info

,critic_id,imdb_id,review_type,review_score,review_date,review_content
0,0,tt0814255,Fresh,None,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,0,tt1338597,Fresh,None,2008-10-25,Demi Moore is excellent as the catalyst for th...
2,0,tt0800308,Fresh,None,2009-03-11,Viggo Mortensen is a trustworthy ally in the p...
3,0,tt0436364,Fresh,None,2009-04-02,This film contributes to the important debate ...
4,0,tt1031969,Fresh,None,2008-10-04,Delivers what it promises and satisfies the fi...
...,...,...,...,...,...,...
840227,15109,tt1608290,Rotten,2/5,2017-09-06,Ben Stiller said he made Zoolander 2 for the f...
840228,15110,tt1608290,Fresh,None,2017-09-06,As long as you don't walk in expecting to see ...
840229,15111,tt2948356,Fresh,4/5,2016-02-29,A neo-noir buddy cop comedy that will likely e...
840230,15112,tt2948356,Fresh,B,2016-03-01,Zootopia proves a successful amalgamation of d...
840231,15113,tt0058777,Fresh,None,2017-07-10,"It may not be truthful - but, my God, the resu..."

In [109]:
review = pd.read_csv('clean_data/review.csv')
review = review.rename(columns={"Unnamed: 0":'review_id'})
#review.to_csv("review.csv")
review

,review_id,critic_id,imdb_id,review_type,review_score,review_date,review_content
0,0,0,tt0814255,Fresh,None,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,1,0,tt1338597,Fresh,None,2008-10-25,Demi Moore is excellent as the catalyst for th...
2,2,0,tt0800308,Fresh,None,2009-03-11,Viggo Mortensen is a trustworthy ally in the p...
3,3,0,tt0436364,Fresh,None,2009-04-02,This film contributes to the important debate ...
4,4,0,tt1031969,Fresh,None,2008-10-04,Delivers what it promises and satisfies the fi...
...,...,...,...,...,...,...,...
840227,840227,15109,tt1608290,Rotten,2/5,2017-09-06,Ben Stiller said he made Zoolander 2 for the f...
840228,840228,15110,tt1608290,Fresh,None,2017-09-06,As long as you don't walk in expecting to see ...
840229,840229,15111,tt2948356,Fresh,4/5,2016-02-29,A neo-noir buddy cop comedy that will likely e...
840230,840230,15112,tt2948356,Fresh,B,2016-03-01,Zootopia proves a successful amalgamation of d...
840231,840231,15113,tt0058777,Fresh,None,2017-07-10,"It may not be truthful - but, my God, the resu..."

In [87]:
rotten_tomato_movie = rotten_tomato_movie[['imdb_id', 'critics_consensus']]
rotten_tomato_movie

         imdb_id                                  critics_consensus
0      tt0814255  Though it may seem like just another Harry Pot...
1      tt0878835  Nicole Holofcener's newest might seem slight i...
2      tt0078721  Blake Edwards' bawdy comedy may not score a pe...
4      tt0046672  One of Disney's finest live-action adventures,...
5      tt0443649  With attention strictly paid to style instead ...
...          ...                                                ...
17704  tt0196229  A wacky satire on the fashion industry, Zoolan...
17705  tt1608290  Zoolander No. 2 has more celebrity cameos than...
17706  tt0383060  Lacking the punch and good cheer of The Incred...
17708  tt2948356  The brilliantly well-rounded Zootopia offers a...
17710  tt0058777  Zulu patiently establishes a cast of colorful ...

[7181 rows x 2 columns]

In [88]:
#rotten_tomato_movie.to_csv("rotten_tomato_movie.csv")

In [5]:
movies = pd.read_csv("movies.csv")
movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,averageRating
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,6.0
1,tt0000941,movie,Locura de amor,Locura de amor,0,1909,45,4.5
2,tt0001614,movie,The Four Devils,De fire djævle,0,1911,60,6.2
3,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0,1913,60,6.2
4,tt0002026,movie,Anny - Story of a Prostitute,Anny - en gatepiges roman,0,1912,68,4.5
...,...,...,...,...,...,...,...,...
124832,tt9914972,movie,Blind Ambition,Blind Ambition,0,2021,96,7.1
124833,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,97,7.3
124834,tt9916058,movie,"Cali: ayer, hoy y mañana","Cali: ayer, hoy y mañana",0,1995,250,NaN
124835,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,7.0
124836,tt9916362,movie,Coven,Akelarre,0,2020,92,6.4

In [24]:
params = {
'i': "tt0000574",
'Plot': 'full'
}
response_sample = requests.get(data_URL,params=params)

response_sample_2 = response_sample
response_sample_2.json()

{'Title': 'The Story of the Kelly Gang',
 'Year': '1906',
 'Rated': 'Not Rated',
 'Released': '10 Jul 1912',
 'Runtime': '70 min',
 'Genre': 'Action, Adventure, Biography',
 'Director': 'Charles Tait',
 'Writer': 'Charles Tait',
 'Actors': 'Elizabeth Tait, John Tait, Nicholas Brierley',
 'Plot': 'Story of Ned Kelly, an infamous 19th-century Australian outlaw.',
 'Language': 'None',
 'Country': 'Australia',
 'Awards': 'N/A',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNTY4ZDk5MzYtNjk2Zi00ZWY3LTgwZjUtNDc5MWEzMWFlOTQzXkEyXkFqcGdeQXVyNjU1MTEwMjI@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.0/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '80%'}],
 'Metascore': 'N/A',
 'imdbRating': '6.0',
 'imdbVotes': '820',
 'imdbID': 'tt0000574',
 'Type': 'movie',
 'DVD': 'N/A',
 'BoxOffice': 'N/A',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [27]:
response_sample_1

In [16]:
params = {
'i': 'tt0000574',
'Plot': 'full'
}
try:
    response_sample = requests.get(data_URL,params=params).json()
except:
    pass
response_sample

{'Title': 'The Story of the Kelly Gang',
 'Year': '1906',
 'Rated': 'Not Rated',
 'Released': '10 Jul 1912',
 'Runtime': '70 min',
 'Genre': 'Action, Adventure, Biography',
 'Director': 'Charles Tait',
 'Writer': 'Charles Tait',
 'Actors': 'Elizabeth Tait, John Tait, Nicholas Brierley',
 'Plot': 'Story of Ned Kelly, an infamous 19th-century Australian outlaw.',
 'Language': 'None',
 'Country': 'Australia',
 'Awards': 'N/A',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNTY4ZDk5MzYtNjk2Zi00ZWY3LTgwZjUtNDc5MWEzMWFlOTQzXkEyXkFqcGdeQXVyNjU1MTEwMjI@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.0/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '80%'}],
 'Metascore': 'N/A',
 'imdbRating': '6.0',
 'imdbVotes': '820',
 'imdbID': 'tt0000574',
 'Type': 'movie',
 'DVD': 'N/A',
 'BoxOffice': 'N/A',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [7]:
def moviesDict(movieDetails, movieInfo2, OrgMovieTitle):
    if len(movieDetails) > len(movieInfo2): #This fills in fields that might not have been present in template
        for key in movieDetails.keys(): #Goes through each key in template
            if movieInfo2.get(key): #Checks if template key is present in JSON response
                #Do nothing since this key is present;
                ;
            else:#create this key so our column sizes match for each movie title
                movieInfo2[key] = 'N/A' #This will also fill in movies that do not come up in the API   
                
    #
    for key, value in movieDetails.items():
        for key2, value2 in movieInfo2.items():
            if key == key2:
                if value == value2:#this part turns the initial value into a list for development of the columns
                    if key == 'title':
                        movieDetails[key] = [OrgMovieTitle] #we keep the original title from movTY for joining other data later
                    else:
                        movieDetails[key] = [value2] #If not a title related item just turn into list
                else: #This adds the value from the next movie title to the existing on intial value
                    if key == 'title': #checks for titles that came from API as 'N/A'
                        if value2 != 'N/A':
                            value.append(OrgMovieTitle) #if title does not have 'N/A' put original title form MovTY instead
                            movieDetails[key] = value 
                        else:#if it does have 'N/A' leave it in there
                            value.append(value2)
                            movieDetails[key] = value 
                    else: #Addes values to keys other than the title key.
                        value.append(value2)
                        movieDetails[key] = value        
    return movieDetails

In [ ]:
movieDetails = response_sample.copy()
i = 0
for MOV in movies['tconst'][:20000]:
    print(i)
    i+=1
    params = {
    'i': MOV,
    'Plot': 'full'
    }
    try:
        NAN_movieInfo2 = requests.get(data_URL,params=params).json()
        movieDetails = moviesDict(movieDetails, NAN_movieInfo2, MOV)
    except:
        continue

dfmovieDetails = pd.DataFrame.from_dict(movieDetails)
dfmovieDetails

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [28]:
import concurrent
test = []
with concurrent.futures.ThreadPoolExecutor() as executor:
    args = ({'i':i,"plot":'full'} for i in movies['tconst'])
    try:
        results = executor.map(lambda p: requests.get(data_URL,params=p), args)
    except:
        pass
    for result in results:
        test.append(result)

In [29]:
len(test)

124837

In [84]:
movieDetails = response_sample.json().copy()
i = 0
for response in test:
    try:
        NAN_movieInfo2 = response.json()
        movieDetails = moviesDict(movieDetails, NAN_movieInfo2, NAN_movieInfo2['Title'])
    except:
        continue


dfmovieDetails = pd.DataFrame.from_dict(movieDetails)

In [92]:
dfmovieDetails

,imdbID,Title,Year,Rated,Released,Runtime,Plot,Country,Poster,imdbRating,imdbVotes
0,tt0000574,The Story of the Kelly Gang,1906,Not Rated,10 Jul 1912,70 min,"Story of Ned Kelly, an infamous 19th-century A...",Australia,https://m.media-amazon.com/images/M/MV5BNTY4ZD...,6.0,820
1,tt0000941,Locura de amor,1909,N/A,N/A,45 min,Felipe I el Hermoso provokes with his behavior...,Spain,https://m.media-amazon.com/images/M/MV5BMTg2Nj...,3.4,23
2,tt0001614,The Four Devils,1911,N/A,28 Aug 1911,60 min,Copenhagen. Two poor boys are sold to a circus...,Denmark,https://m.media-amazon.com/images/M/MV5BZDMzN2...,5.9,26
3,tt0001790,"Les Misérables, Part 1: Jean Valjean",1913,N/A,01 Apr 1913,60 min,The story begins with Jean Valjean as a humble...,France,https://m.media-amazon.com/images/M/MV5BMjAzMz...,6.0,48
4,tt0002026,Anny - en gatepiges roman,1912,N/A,09 Nov 1912,68 min,Anny works in a cigar-shop. Wholesaler Willman...,Norway,https://m.media-amazon.com/images/M/MV5BYTRhYz...,4.0,13
...,...,...,...,...,...,...,...,...,...,...,...
124095,tt9914972,Blind Ambition,2021,N/A,12 Aug 2022,96 min,Four Zimbabwean men form their country's first...,Australia,https://m.media-amazon.com/images/M/MV5BOTMwNW...,7.1,258
124096,tt9915872,The Last White Witch,2019,N/A,22 Feb 2019,97 min,"One day, a charming and mystical girl, Fuka, a...",Japan,https://m.media-amazon.com/images/M/MV5BNmNhM2...,N/A,8
124097,tt9916058,"Cali: ayer, hoy y mañana",1995,N/A,N/A,250 min,A 10 chapter look at southern Colombia's Cali ...,Colombia,https://m.media-amazon.com/images/M/MV5BNjc1Mj...,N/A,N/A
124098,tt9916170,The Rehearsal,2019,N/A,08 Feb 2019,51 min,"Isa, a young artist invited to propose a proje...","Brazil, Denmark",https://m.media-amazon.com/images/M/MV5BNzVhND...,N/A,7
124099,tt9916362,Coven,2020,TV-MA,02 Oct 2020,92 min,"1609, Basque Country (north to Spain). In a la...","Spain, France, Argentina",https://m.media-amazon.com/images/M/MV5BZTc0NG...,6.4,"5,234"

In [86]:
dfmovieDetails.columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'DVD', 'BoxOffice', 'Production', 'Website', 'Response'],
      dtype='object')

In [111]:
#dfmovieDetails = dfmovieDetails[['imdbID', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Plot', 'Country','Poster', 'imdbRating', 'imdbVotes']]
dfmovieDetails = dfmovieDetails.rename(columns={'imdbID':'tconst'})
dfmovieDetails

,tconst,Title,Year,Rated,Released,Runtime,Plot,Country,Poster,imdbRating,imdbVotes
0,tt0000574,The Story of the Kelly Gang,1906,Not Rated,10 Jul 1912,70 min,"Story of Ned Kelly, an infamous 19th-century A...",Australia,https://m.media-amazon.com/images/M/MV5BNTY4ZD...,6.0,820
1,tt0000941,Locura de amor,1909,N/A,N/A,45 min,Felipe I el Hermoso provokes with his behavior...,Spain,https://m.media-amazon.com/images/M/MV5BMTg2Nj...,3.4,23
2,tt0001614,The Four Devils,1911,N/A,28 Aug 1911,60 min,Copenhagen. Two poor boys are sold to a circus...,Denmark,https://m.media-amazon.com/images/M/MV5BZDMzN2...,5.9,26
3,tt0001790,"Les Misérables, Part 1: Jean Valjean",1913,N/A,01 Apr 1913,60 min,The story begins with Jean Valjean as a humble...,France,https://m.media-amazon.com/images/M/MV5BMjAzMz...,6.0,48
4,tt0002026,Anny - en gatepiges roman,1912,N/A,09 Nov 1912,68 min,Anny works in a cigar-shop. Wholesaler Willman...,Norway,https://m.media-amazon.com/images/M/MV5BYTRhYz...,4.0,13
...,...,...,...,...,...,...,...,...,...,...,...
124095,tt9914972,Blind Ambition,2021,N/A,12 Aug 2022,96 min,Four Zimbabwean men form their country's first...,Australia,https://m.media-amazon.com/images/M/MV5BOTMwNW...,7.1,258
124096,tt9915872,The Last White Witch,2019,N/A,22 Feb 2019,97 min,"One day, a charming and mystical girl, Fuka, a...",Japan,https://m.media-amazon.com/images/M/MV5BNmNhM2...,N/A,8
124097,tt9916058,"Cali: ayer, hoy y mañana",1995,N/A,N/A,250 min,A 10 chapter look at southern Colombia's Cali ...,Colombia,https://m.media-amazon.com/images/M/MV5BNjc1Mj...,N/A,N/A
124098,tt9916170,The Rehearsal,2019,N/A,08 Feb 2019,51 min,"Isa, a young artist invited to propose a proje...","Brazil, Denmark",https://m.media-amazon.com/images/M/MV5BNzVhND...,N/A,7
124099,tt9916362,Coven,2020,TV-MA,02 Oct 2020,92 min,"1609, Basque Country (north to Spain). In a la...","Spain, France, Argentina",https://m.media-amazon.com/images/M/MV5BZTc0NG...,6.4,"5,234"

In [88]:
#dfmovieDetails.to_csv("movie_detail.csv")

In [18]:
movieDetails = movies[['tconst']].copy()
movieDetails

           tconst
0       tt0000574
1       tt0000941
2       tt0001614
3       tt0001790
4       tt0002026
...           ...
124832  tt9914972
124833  tt9915872
124834  tt9916058
124835  tt9916170
124836  tt9916362

[124837 rows x 1 columns]

In [115]:
full_movie = pd.merge(movies, dfmovieDetails, on=['tconst'])
full_movie

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,averageRating,Title,Year,Rated,Released,Runtime,Plot,Country,Poster,imdbRating,imdbVotes
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,6.0,The Story of the Kelly Gang,1906,Not Rated,10 Jul 1912,70 min,"Story of Ned Kelly, an infamous 19th-century A...",Australia,https://m.media-amazon.com/images/M/MV5BNTY4ZD...,6.0,820
1,tt0000941,movie,Locura de amor,Locura de amor,0,1909,45,4.5,Locura de amor,1909,N/A,N/A,45 min,Felipe I el Hermoso provokes with his behavior...,Spain,https://m.media-amazon.com/images/M/MV5BMTg2Nj...,3.4,23
2,tt0001614,movie,The Four Devils,De fire djævle,0,1911,60,6.2,The Four Devils,1911,N/A,28 Aug 1911,60 min,Copenhagen. Two poor boys are sold to a circus...,Denmark,https://m.media-amazon.com/images/M/MV5BZDMzN2...,5.9,26
3,tt0001790,movie,"Les Misérables, Part 1: Jean Valjean",Les misérables - Époque 1: Jean Valjean,0,1913,60,6.2,"Les Misérables, Part 1: Jean Valjean",1913,N/A,01 Apr 1913,60 min,The story begins with Jean Valjean as a humble...,France,https://m.media-amazon.com/images/M/MV5BMjAzMz...,6.0,48
4,tt0002026,movie,Anny - Story of a Prostitute,Anny - en gatepiges roman,0,1912,68,4.5,Anny - en gatepiges roman,1912,N/A,09 Nov 1912,68 min,Anny works in a cigar-shop. Wholesaler Willman...,Norway,https://m.media-amazon.com/images/M/MV5BYTRhYz...,4.0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124095,tt9914972,movie,Blind Ambition,Blind Ambition,0,2021,96,7.1,Blind Ambition,2021,N/A,12 Aug 2022,96 min,Four Zimbabwean men form their country's first...,Australia,https://m.media-amazon.com/images/M/MV5BOTMwNW...,7.1,258
124096,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,97,7.3,The Last White Witch,2019,N/A,22 Feb 2019,97 min,"One day, a charming and mystical girl, Fuka, a...",Japan,https://m.media-amazon.com/images/M/MV5BNmNhM2...,N/A,8
124097,tt9916058,movie,"Cali: ayer, hoy y mañana","Cali: ayer, hoy y mañana",0,1995,250,NaN,"Cali: ayer, hoy y mañana",1995,N/A,N/A,250 min,A 10 chapter look at southern Colombia's Cali ...,Colombia,https://m.media-amazon.com/images/M/MV5BNjc1Mj...,N/A,N/A
124098,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,7.0,The Rehearsal,2019,N/A,08 Feb 2019,51 min,"Isa, a young artist invited to propose a proje...","Brazil, Denmark",https://m.media-amazon.com/images/M/MV5BNzVhND...,N/A,7
124099,tt9916362,movie,Coven,Akelarre,0,2020,92,6.4,Coven,2020,TV-MA,02 Oct 2020,92 min,"1609, Basque Country (north to Spain). In a la...","Spain, France, Argentina",https://m.media-amazon.com/images/M/MV5BZTc0NG...,6.4,"5,234"

In [119]:
full_movie = full_movie[['tconst', 'primaryTitle', 'Country', 'runtimeMinutes', 'Year', 
       'averageRating', 'Rated', 'Poster',  'Plot']]
full_movie

,tconst,primaryTitle,Country,runtimeMinutes,Year,averageRating,Rated,Poster,Plot
0,tt0000574,The Story of the Kelly Gang,Australia,70,1906,6.0,Not Rated,https://m.media-amazon.com/images/M/MV5BNTY4ZD...,"Story of Ned Kelly, an infamous 19th-century A..."
1,tt0000941,Locura de amor,Spain,45,1909,4.5,N/A,https://m.media-amazon.com/images/M/MV5BMTg2Nj...,Felipe I el Hermoso provokes with his behavior...
2,tt0001614,The Four Devils,Denmark,60,1911,6.2,N/A,https://m.media-amazon.com/images/M/MV5BZDMzN2...,Copenhagen. Two poor boys are sold to a circus...
3,tt0001790,"Les Misérables, Part 1: Jean Valjean",France,60,1913,6.2,N/A,https://m.media-amazon.com/images/M/MV5BMjAzMz...,The story begins with Jean Valjean as a humble...
4,tt0002026,Anny - Story of a Prostitute,Norway,68,1912,4.5,N/A,https://m.media-amazon.com/images/M/MV5BYTRhYz...,Anny works in a cigar-shop. Wholesaler Willman...
...,...,...,...,...,...,...,...,...,...
124095,tt9914972,Blind Ambition,Australia,96,2021,7.1,N/A,https://m.media-amazon.com/images/M/MV5BOTMwNW...,Four Zimbabwean men form their country's first...
124096,tt9915872,The Last White Witch,Japan,97,2019,7.3,N/A,https://m.media-amazon.com/images/M/MV5BNmNhM2...,"One day, a charming and mystical girl, Fuka, a..."
124097,tt9916058,"Cali: ayer, hoy y mañana",Colombia,250,1995,NaN,N/A,https://m.media-amazon.com/images/M/MV5BNjc1Mj...,A 10 chapter look at southern Colombia's Cali ...
124098,tt9916170,The Rehearsal,"Brazil, Denmark",51,2019,7.0,N/A,https://m.media-amazon.com/images/M/MV5BNzVhND...,"Isa, a young artist invited to propose a proje..."
124099,tt9916362,Coven,"Spain, France, Argentina",92,2020,6.4,TV-MA,https://m.media-amazon.com/images/M/MV5BZTc0NG...,"1609, Basque Country (north to Spain). In a la..."

In [120]:
full_movie.to_csv("movie_detail.csv")

In [51]:
crews

,nconst,primaryName,birthYear,deathYear,primaryProfession
0,nm0000001,Fred Astaire,1899,1987.0,"soundtrack,actor,miscellaneous"
1,nm0000002,Lauren Bacall,1924,2014.0,"actress,soundtrack"
2,nm0000003,Brigitte Bardot,1934,NaN,"actress,soundtrack,music_department"
3,nm0000004,John Belushi,1949,1982.0,"actor,soundtrack,writer"
4,nm0000005,Ingmar Bergman,1918,2007.0,"writer,director,actor"
...,...,...,...,...,...
93971,nm9990866,Glafira Golubeva,2004,NaN,actress
93972,nm9991000,Divyansha Kaushik,1997,NaN,actress
93973,nm9991365,Benjamin Dino,1996,NaN,actor
93974,nm9992452,Yuki Katayama,1996,NaN,actress
93975,nm9993693,Apsara Rani,1996,NaN,actress

In [6]:
df = pd.read_csv('movie_detail.csv')
df

/var/folders/lv/rr08pdt17r7g3fk7p73nnq100000gn/T/ipykernel_7063/593173740.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movie_detail.csv')

,Unnamed: 0,tconst,primaryTitle,Country,runtimeMinutes,Year,averageRating,Rated,Poster,Plot
0,0,tt0000574,The Story of the Kelly Gang,Australia,70,1906,6.0,Not Rated,https://m.media-amazon.com/images/M/MV5BNTY4ZD...,"Story of Ned Kelly, an infamous 19th-century A..."
1,1,tt0000941,Locura de amor,Spain,45,1909,4.5,NaN,https://m.media-amazon.com/images/M/MV5BMTg2Nj...,Felipe I el Hermoso provokes with his behavior...
2,2,tt0001614,The Four Devils,Denmark,60,1911,6.2,NaN,https://m.media-amazon.com/images/M/MV5BZDMzN2...,Copenhagen. Two poor boys are sold to a circus...
3,3,tt0001790,"Les Misérables, Part 1: Jean Valjean",France,60,1913,6.2,NaN,https://m.media-amazon.com/images/M/MV5BMjAzMz...,The story begins with Jean Valjean as a humble...
4,4,tt0002026,Anny - Story of a Prostitute,Norway,68,1912,4.5,NaN,https://m.media-amazon.com/images/M/MV5BYTRhYz...,Anny works in a cigar-shop. Wholesaler Willman...
...,...,...,...,...,...,...,...,...,...,...
124095,124095,tt9914972,Blind Ambition,Australia,96,2021,7.1,NaN,https://m.media-amazon.com/images/M/MV5BOTMwNW...,Four Zimbabwean men form their country's first...
124096,124096,tt9915872,The Last White Witch,Japan,97,2019,7.3,NaN,https://m.media-amazon.com/images/M/MV5BNmNhM2...,"One day, a charming and mystical girl, Fuka, a..."
124097,124097,tt9916058,"Cali: ayer, hoy y mañana",Colombia,250,1995,NaN,NaN,https://m.media-amazon.com/images/M/MV5BNjc1Mj...,A 10 chapter look at southern Colombia's Cali ...
124098,124098,tt9916170,The Rehearsal,"Brazil, Denmark",51,2019,7.0,NaN,https://m.media-amazon.com/images/M/MV5BNzVhND...,"Isa, a young artist invited to propose a proje..."
124099,124099,tt9916362,Coven,"Spain, France, Argentina",92,2020,6.4,TV-MA,https://m.media-amazon.com/images/M/MV5BZTc0NG...,"1609, Basque Country (north to Spain). In a la..."

In [19]:
df["runtimeMinutes"] = pd.to_numeric(df["runtimeMinutes"])
df["averageRating"] = pd.to_numeric(df["averageRating"])
df['Year'] =  [re.sub(r'[\D]*','', str(x)) for x in df['Year']]
df["Year"] = pd.to_numeric(df["Year"])

df = df[['tconst', 'primaryTitle', 'Country', 'runtimeMinutes',
       'Year', 'averageRating', 'Rated', 'Poster', 'Plot']]
df['primaryTitle'] = [i if i!='N/A' else None for i in df['primaryTitle']]
df['Country'] = [i if i!='N/A' else None for i in df['Country']]
df['Rated'] = [i if i!='N/A' else None for i in df['Rated']]
df['Poster'] = [i if i!='N/A' else None for i in df['Poster']]
df['Plot'] = [i if i!='N/A' else None for i in df['Plot']]

In [23]:
df.to_csv("movie_detail.csv")

In [30]:
critic = pd.read_csv('clean_data/critic.csv')
critic['critic_name'] = [i if i!='N/A' else None for i in critic['critic_name']]
critic['top_critic'] = [i if i!='N/A' else None for i in critic['top_critic']]
critic['publisher_name'] = [i if i!='N/A' else None for i in critic['publisher_name']]
critic = critic[['critic_id', 'critic_name', 'top_critic','publisher_name']]
critic

       critic_id           critic_name  top_critic           publisher_name
0              0       Andrew L. Urban       False           Urban Cinefile
1              1         Louise Keller       False           Urban Cinefile
2              2   FILMINK (Australia)       False      FILMINK (Australia)
3              3          Ben McEachen       False  Sunday Mail (Australia)
4              4           Ethan Alter        True       Hollywood Reporter
...          ...                   ...         ...                      ...
15109      15109           Hanna Flint       False               Metro (UK)
15110      15110           Kate Leaver       False               Metro (UK)
15111      15111     Michael Jaconelli       False               The Skinny
15112      15112  Josh Slater-Williams       False           The Film Stage
15113      15113           Will Heaven        True     Daily Telegraph (UK)

[15114 rows x 4 columns]

In [31]:
critic.to_csv("clean_data/critic.csv")

In [43]:
oscard

,year,category,crew_name,movie_name,is_winner
0,1928,ACTOR,Richard Barthelmess,The Noose,False
1,1928,ACTOR,Emil Jannings,The Last Command,True
2,1928,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1928,ACTRESS,Janet Gaynor,7th Heaven,True
4,1928,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...
10760,2023,HONORARY AWARD,Euzhan Palcy,NaN,True
10761,2023,HONORARY AWARD,Diane Warren,NaN,True
10762,2023,HONORARY AWARD,Peter Weir,NaN,True
10763,2023,GORDON E. SAWYER AWARD,Iain Neil,NaN,True
10764,2023,AWARD OF COMMENDATION,Ryan Laney,Welcome to Chechnya,True

In [45]:
#oscard = pd.read_csv('clean_data/oscard.csv')
oscard['year'] = [i if i!='N/A' else None for i in oscard['year']]
oscard['category'] = [i if i!='N/A' else None for i in oscard['category']]
oscard['crew_name'] = [i if i!='N/A' else None for i in oscard['crew_name']]
oscard['movie_name'] = [i if i!='N/A' else None for i in oscard['movie_name']]
oscard['is_winner'] = [i if i!='N/A' else None for i in oscard['is_winner']]
oscard["year"] = pd.to_numeric(oscard["year"])
oscard['crew_name'] = [i.lower() for i in oscard['crew_name']]
oscard

,year,category,crew_name,movie_name,is_winner
0,1928,ACTOR,richard barthelmess,The Noose,False
1,1928,ACTOR,emil jannings,The Last Command,True
2,1928,ACTRESS,louise dresser,A Ship Comes In,False
3,1928,ACTRESS,janet gaynor,7th Heaven,True
4,1928,ACTRESS,gloria swanson,Sadie Thompson,False
...,...,...,...,...,...
10760,2023,HONORARY AWARD,euzhan palcy,NaN,True
10761,2023,HONORARY AWARD,diane warren,NaN,True
10762,2023,HONORARY AWARD,peter weir,NaN,True
10763,2023,GORDON E. SAWYER AWARD,iain neil,NaN,True
10764,2023,AWARD OF COMMENDATION,ryan laney,Welcome to Chechnya,True

In [46]:
crews = pd.read_csv('clean_data/crews.csv')
crews = crews[['crew_id', 'name']]
crews['name'] = [i.lower() for i in crews['name']]
crews

/var/folders/lv/rr08pdt17r7g3fk7p73nnq100000gn/T/ipykernel_89626/573123834.py:1: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  crews = pd.read_csv('clean_data/crews.csv')

         crew_id               name
0      nm0000001       fred astaire
1      nm0000002      lauren bacall
2      nm0000003    brigitte bardot
3      nm0000004       john belushi
4      nm0000005     ingmar bergman
...          ...                ...
93969  nm9990866   glafira golubeva
93970  nm9991000  divyansha kaushik
93971  nm9991365      benjamin dino
93972  nm9992452      yuki katayama
93973  nm9993693        apsara rani

[93974 rows x 2 columns]

In [49]:
#oscard = oscard.rename(columns={"crew_name": "name"}, errors="raise")
crew_match = pd.merge(oscard, crews, on=['name'], how='left')
crew_match = crew_match[['year', 'category', 'crew_id', 'movie_name', 'is_winner']]
crew_match

       year                category    crew_id           movie_name  is_winner
0      1928                   ACTOR  nm0001932            The Noose      False
1      1928                   ACTOR  nm0417837     The Last Command       True
2      1928                 ACTRESS  nm0237571      A Ship Comes In      False
3      1928                 ACTRESS  nm0310980           7th Heaven       True
4      1928                 ACTRESS  nm0841797       Sadie Thompson      False
...     ...                     ...        ...                  ...        ...
10831  2023          HONORARY AWARD  nm0657484                  NaN       True
10832  2023          HONORARY AWARD        NaN                  NaN       True
10833  2023          HONORARY AWARD  nm0001837                  NaN       True
10834  2023  GORDON E. SAWYER AWARD        NaN                  NaN       True
10835  2023   AWARD OF COMMENDATION        NaN  Welcome to Chechnya       True

[10836 rows x 5 columns]

In [51]:
crew_match = crew_match.dropna(subset=['movie_name','crew_id'], how='all')
oscard = crew_match
oscard

,year,category,crew_id,movie_name,is_winner
0,1928,ACTOR,nm0001932,The Noose,False
1,1928,ACTOR,nm0417837,The Last Command,True
2,1928,ACTRESS,nm0237571,A Ship Comes In,False
3,1928,ACTRESS,nm0310980,7th Heaven,True
4,1928,ACTRESS,nm0841797,Sadie Thompson,False
...,...,...,...,...,...
10829,2023,WRITING (Original Screenplay),nm0276062,Tár,False
10830,2023,WRITING (Original Screenplay),nm1128037,Triangle of Sadness,False
10831,2023,HONORARY AWARD,nm0657484,NaN,True
10833,2023,HONORARY AWARD,nm0001837,NaN,True
10835,2023,AWARD OF COMMENDATION,NaN,Welcome to Chechnya,True

In [90]:
crew_match.to_csv("clean_data/oscard.csv")

In [49]:
review = pd.read_csv('clean_data/review.csv')
review['review_type'] = [i if i!='N/A' else None for i in review['review_type']]
review['review_content'] = [i if i!='N/A' else None for i in review['review_content']]
review['review_date'] = pd.to_datetime(review['review_date']) 
review["review_id"] = pd.to_numeric(review["review_id"])
review["critic_id"] = pd.to_numeric(review["critic_id"])
review_id = review[['review_id', 'review_type','review_date', 'review_content']]
review_id

,review_id,review_type,review_date,review_content
0,0,Fresh,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,1,Fresh,2008-10-25,Demi Moore is excellent as the catalyst for th...
2,2,Fresh,2009-03-11,Viggo Mortensen is a trustworthy ally in the p...
3,3,Fresh,2009-04-02,This film contributes to the important debate ...
4,4,Fresh,2008-10-04,Delivers what it promises and satisfies the fi...
...,...,...,...,...
840227,840227,Rotten,2017-09-06,Ben Stiller said he made Zoolander 2 for the f...
840228,840228,Fresh,2017-09-06,As long as you don't walk in expecting to see ...
840229,840229,Fresh,2016-02-29,A neo-noir buddy cop comedy that will likely e...
840230,840230,Fresh,2016-03-01,Zootopia proves a successful amalgamation of d...
840231,840231,Fresh,2017-07-10,"It may not be truthful - but, my God, the resu..."

In [53]:
sum(review_id['review_content'].isna())

0

In [50]:
review_id.to_csv("clean_data/review_id.csv")

In [52]:
review_relation = review[['review_id','critic_id', 'imdb_id']]
review_relation

        review_id  critic_id    imdb_id
0               0          0  tt0814255
1               1          0  tt1338597
2               2          0  tt0800308
3               3          0  tt0436364
4               4          0  tt1031969
...           ...        ...        ...
840227     840227      15109  tt1608290
840228     840228      15110  tt1608290
840229     840229      15111  tt2948356
840230     840230      15112  tt2948356
840231     840231      15113  tt0058777

[840232 rows x 3 columns]

In [54]:
review_relation.to_csv("clean_data/review_relation.csv")

In [93]:
raw_movie = pd.read_csv('data.tsv',sep='\t')
raw_movie = raw_movie[['tconst', 'genres']]
raw_movie

/var/folders/lv/rr08pdt17r7g3fk7p73nnq100000gn/T/ipykernel_7063/3354218645.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_movie = pd.read_csv('data.tsv',sep='\t')

            tconst                      genres
0        tt0000001           Documentary,Short
1        tt0000002             Animation,Short
2        tt0000003    Animation,Comedy,Romance
3        tt0000004             Animation,Short
4        tt0000005                Comedy,Short
...            ...                         ...
9719891  tt9916848         Action,Drama,Family
9719892  tt9916850         Action,Drama,Family
9719893  tt9916852         Action,Drama,Family
9719894  tt9916856                       Short
9719895  tt9916880  Adventure,Animation,Comedy

[9719896 rows x 2 columns]

In [98]:
movie = pd.read_csv('clean_data/movie_detail.csv')
movie_id = movie[['tconst']]

In [110]:
movie_genre = pd.merge(movie_id, raw_movie, on=['tconst'])
movie_genre

           tconst                      genres
0       tt0000574  Action,Adventure,Biography
1       tt0000941                       Drama
2       tt0001614                       Drama
3       tt0001790                       Drama
4       tt0002026               Drama,Romance
...           ...                         ...
124095  tt9914972                 Documentary
124096  tt9915872        Comedy,Drama,Fantasy
124097  tt9916058                 Documentary
124098  tt9916170                       Drama
124099  tt9916362               Drama,History

[124100 rows x 2 columns]

In [111]:
movie_genre['genres'] = [[i.split(',')] for i in movie_genre['genres']]
movie_genre

           tconst                            genres
0       tt0000574  [[Action, Adventure, Biography]]
1       tt0000941                         [[Drama]]
2       tt0001614                         [[Drama]]
3       tt0001790                         [[Drama]]
4       tt0002026                [[Drama, Romance]]
...           ...                               ...
124095  tt9914972                   [[Documentary]]
124096  tt9915872        [[Comedy, Drama, Fantasy]]
124097  tt9916058                   [[Documentary]]
124098  tt9916170                         [[Drama]]
124099  tt9916362                [[Drama, History]]

[124100 rows x 2 columns]

In [115]:
movie_genre = movie_genre.explode('genres')
movie_genre

           tconst       genres
0       tt0000574       Action
0       tt0000574    Adventure
0       tt0000574    Biography
1       tt0000941        Drama
2       tt0001614        Drama
...           ...          ...
124096  tt9915872      Fantasy
124097  tt9916058  Documentary
124098  tt9916170        Drama
124099  tt9916362        Drama
124099  tt9916362      History

[230386 rows x 2 columns]

In [117]:
movie_genre.to_csv("clean_data/movie_genre.csv")

In [118]:
movie_genre['genres'].value_counts()

Drama          64801
Comedy         30861
Action         16506
Romance        16452
Documentary    15121
Crime          13597
Thriller       12180
Horror          9545
Adventure       9049
Mystery         5869
Family          4872
Fantasy         4745
Biography       3970
History         3758
Sci-Fi          3359
War             3321
Animation       2965
Music           2620
Musical         2341
Western         1770
Sport           1428
Film-Noir        602
Adult            501
News             134
Reality-TV        15
Talk-Show          2
Game-Show          1
Short              1
Name: genres, dtype: int64

In [2]:
df = pd.read_csv('clean_data/movie_genre.csv')
df

        Unnamed: 0     tconst       genres
0                0  tt0000574       Action
1                0  tt0000574    Adventure
2                0  tt0000574    Biography
3                1  tt0000941        Drama
4                2  tt0001614        Drama
...            ...        ...          ...
230381      124096  tt9915872      Fantasy
230382      124097  tt9916058  Documentary
230383      124098  tt9916170        Drama
230384      124099  tt9916362        Drama
230385      124099  tt9916362      History

[230386 rows x 3 columns]

In [4]:
genre = pd.read_csv('clean_data/genres.csv')
genre = genre.rename(columns = {'name':'genres'})
genre

    genre_id       genres
0          0   Reality-TV
1          1    Biography
2          2    Film-Noir
3          3        Adult
4          4       Horror
5          5      Mystery
6          6      History
7          7        Music
8          8  Documentary
9          9          War
10        10        Short
11        11        Crime
12        12    Adventure
13        13       Family
14        14        Drama
15        15      Romance
16        16      Western
17        17       Action
18        18       Sci-Fi
19        19      Fantasy
20        20    Talk-Show
21        21         News
22        22    Game-Show
23        23       Comedy
24        24        Sport
25        25    Animation
26        26      Musical
27        27     Thriller

In [8]:
movie_genre = pd.merge(df, genre, on=['genres'])
movie_genre = movie_genre[['tconst', 'genre_id']]
movie_genre

            tconst  genre_id
0        tt0000574        17
1        tt0004450        17
2        tt0006333        17
3        tt0007154        17
4        tt0007168        17
...            ...       ...
230381   tt8893608        21
230382  tt12268466        22
230383  tt14870164        10
230384   tt8471366        20
230385   tt8836334        20

[230386 rows x 2 columns]

In [9]:
movie_genre.to_csv("clean_data/movie_genre.csv")

In [ ]:
movie_genre

In [12]:
review = pd.read_csv('clean_data/review_id.csv')
review

,Unnamed: 0,review_id,review_type,review_date,review_content
0,0,0,Fresh,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,1,1,Fresh,2008-10-25,Demi Moore is excellent as the catalyst for th...
2,2,2,Fresh,2009-03-11,Viggo Mortensen is a trustworthy ally in the p...
3,3,3,Fresh,2009-04-02,This film contributes to the important debate ...
4,4,4,Fresh,2008-10-04,Delivers what it promises and satisfies the fi...
...,...,...,...,...,...
840227,840227,840227,Rotten,2017-09-06,Ben Stiller said he made Zoolander 2 for the f...
840228,840228,840228,Fresh,2017-09-06,As long as you don't walk in expecting to see ...
840229,840229,840229,Fresh,2016-02-29,A neo-noir buddy cop comedy that will likely e...
840230,840230,840230,Fresh,2016-03-01,Zootopia proves a successful amalgamation of d...
840231,840231,840231,Fresh,2017-07-10,"It may not be truthful - but, my God, the resu..."

In [16]:
sorted(review['review_date'], reverse=True)

['2020-10-29',
 '2020-10-28',
 '2020-10-28',
 '2020-10-28',
 '2020-10-28',
 '2020-10-28',
 '2020-10-28',
 '2020-10-28',
 '2020-10-28',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-27',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-26',
 '2020-10-25',
 '2020-10-25',
 '2020-10-25',
 '2020-10-25',
 '2020-10-25',
 '2020-10-24',
 '2020-10-24',
 '2020-10-24',
 '2020-10-24',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-23',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-22',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-21',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-20',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-19',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-16',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-15',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-14',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-13',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-12',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-11',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-10',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-09',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-08',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-07',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-05',
 '2020-10-04',
 '2020-10-04',
 '2020-10-04',
 '2020-10-04',
 '2020-10-04',
 '2020-10-04',
 '2020-10-04',
 '2020-10-04',
 '2020-10-04',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-03',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-02',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-10-01',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-30',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-29',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-28',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 '2020-09-27',
 ...]

In [24]:
oscard = pd.read_csv("clean_data/oscard.csv")
movie = pd.read_csv("clean_data/movie_detail.csv")
oscard

,Unnamed: 0,award_id,year,category,crew_id,imdb_id,is_winner
0,0,0,1928,ACTOR,nm0001932,tt0052063,False
1,1,1,1928,ACTOR,nm0417837,tt0019071,True
2,2,2,1928,ACTRESS,nm0237571,tt0018389,False
3,3,3,1928,ACTRESS,nm0310980,tt0018379,True
4,4,4,1928,ACTRESS,nm0841797,tt0019344,False
...,...,...,...,...,...,...,...
10384,10829,10754,2023,WRITING (Original Screenplay),nm0276062,tt14444726,False
10385,10830,10755,2023,WRITING (Original Screenplay),nm1128037,tt7322224,False
10386,10831,10756,2023,HONORARY AWARD,nm0657484,NaN,True
10387,10833,10758,2023,HONORARY AWARD,nm0001837,NaN,True
10388,10835,10760,2023,AWARD OF COMMENDATION,NaN,tt11394200,True

In [25]:
year_list = oscard.groupby('imdb_id')['year'].apply(set).reset_index(name='new')

In [26]:
for index, row in year_list.iterrows():
    if len(row['new'])>1:
        print(row['imdb_id'], row['new'])

tt0018037 {1928, 1953}
tt0021746 {1961, 1931}
tt0022835 {1932, 1942}
tt0022879 {1933, 1958}
tt0025493 {1953, 1935}
tt0026752 {1936, 1963}
tt0030241 {1931, 1939}
tt0031385 {1970, 1940}
tt0032701 {1929, 1941}
tt0032910 {2021, 1941}
tt0034386 {1933, 1942}
tt0035446 {1984, 1943}
tt0037017 {1945, 2019}
tt0038109 {1946, 2003}
tt0038116 {1946, 1933}
tt0043924 {1952, 1961}
tt0044926 {1953, 2002}
tt0047437 {1955, 1996}
tt0049934 {1969, 1957}
tt0051435 {1970, 1959}
tt0051436 {1939, 1959}
tt0051496 {1967, 1959}
tt0051908 {1944, 1959}
tt0052027 {2000, 1959}
tt0052918 {1960, 1935}
tt0054429 {1961, 1977}
tt0054653 {1962, 1942}
tt0055499 {1962, 1963}
tt0055614 {1962, 2022}
tt0055910 {1963, 1964}
tt0056389 {1963, 1964}
tt0056923 {1985, 1964}
tt0056937 {1964, 1935}
tt0058335 {1965, 1966}
tt0058450 {1965, 1966}
tt0058625 {1965, 1966}
tt0058946 {1969, 1967}
tt0059527 {1966, 1967}
tt0063518 {1937, 1969}
tt0064612 {1970, 1971}
tt0065889 {1971, 1972}
tt0067919 {1972, 1973}
tt0070460 {1974, 1975}
tt0074285 {1953, 1977}
tt0076759 {1969, 1978}
tt0077663 {1944, 1979}
tt0078346 {1979, 1942}
tt0078950 {1980, 1932}
tt0082894 {1937, 1982}
tt0088846 {1945, 1986}
tt0091064 {1987, 1981}
tt0091187 {1987, 1956}
tt0093493 {1939, 1988}
tt0097499 {1947, 1990}
tt0099334 {1991, 1951}
tt0101414 {1992, 2018}
tt0101969 {1992, 1959}
tt0104691 {1937, 1993}
tt0104797 {1993, 1973}
tt0105323 {1976, 1993}
tt0110357 {1995, 2020}
tt0114279 {1996, 1957}
tt0116191 {2021, 1932, 1997}
tt0116477 {1997, 1949, 1991}
tt0116583 {1940, 1997}
tt0116692 {1961, 1998}
tt0118617 {1957, 1998}
tt0118884 {1993, 1998}
tt0119654 {1998, 1935}
tt0120274 {1999, 1983}
tt0120338 {1954, 1998}
tt0120520 {1928, 1998}
tt0120751 {1950, 1999}
tt0120762 {2021, 1999}
tt0124207 {1953, 1998}
tt0174856 {2000, 1938}
tt0187393 {1929, 2001}
tt0268695 {1961, 2003}
tt0356443 {1929, 1945}
tt0360717 {1977, 2006}
tt0368447 {1994, 2005}
tt0422720 {1939, 2007}
tt0443543 {2011, 2007}
tt1014759 {1952, 2011}
tt1016150 {1930, 2023}
tt10228168 {1971, 1940}
tt1049413 {1985, 2010}
tt11286314 {2022, 1975}
tt1160419 {1985, 2022}
tt1320082 {1964, 1975}
tt1343092 {1976, 2014, 1975}
tt1403865 {1970, 2011}
tt1517451 {1977, 1938, 1955, 2019}
tt1613750 {1952, 2013}
tt1661199 {2016, 1951}
tt1700845 {2014, 1942}
tt1707386 {2020, 2013}
tt2038256 {1976, 1975}
tt2328900 {2019, 1972}
tt2334733 {1992, 1950}
tt2404435 {1961, 1957}
tt3040964 {1968, 2017, 1943}
tt3281548 {1995, 2020, 1933, 1950}
tt3470600 {2017, 2002}
tt4995790 {2018, 2014}
tt5027774 {2018, 1967}
tt5032364 {1949, 1950}

In [27]:
movie[movie['tconst']=='tt0116191']

,Unnamed: 0,tconst,primaryTitle,Country,runtimeMinutes,Year,averageRating,Rated,Poster,Plot
27093,27093,tt0116191,Emma,"United Kingdom, United States",120,1996,6.6,PG,https://m.media-amazon.com/images/M/MV5BN2E1YT...,Emma Woodhouse is a congenial young lady who d...

In [28]:
oscard[oscard['imdb_id']=='tt0116191']

,Unnamed: 0,award_id,year,category,crew_id,imdb_id,is_winner
153,163,162,1932,ACTRESS,nm0237597,tt0116191,False
7303,7635,7584,1997,COSTUME DESIGN,NaN,tt0116191,False
7341,7673,7621,1997,MUSIC (Original Musical or Comedy Score),NaN,tt0116191,True
10056,10498,10425,2021,COSTUME DESIGN,NaN,tt0116191,False
10086,10528,10455,2021,MAKEUP AND HAIRSTYLING,NaN,tt0116191,False

In [13]:
movie[movie['primaryTitle']=='Emma']

,Unnamed: 0,tconst,primaryTitle,Country,runtimeMinutes,Year,averageRating,Rated,Poster,Plot
1114,1114,tt0022854,Emma,United States,72,1932,7.0,Passed,https://m.media-amazon.com/images/M/MV5BYjZmNG...,"When their mother dies in childbirth, Emma Tha..."
27093,27093,tt0116191,Emma,"United Kingdom, United States",120,1996,6.6,PG,https://m.media-amazon.com/images/M/MV5BN2E1YT...,Emma Woodhouse is a congenial young lady who d...
121827,121827,tt9109490,Emma,Mexico,80,2019,4.9,NaN,https://m.media-amazon.com/images/M/MV5BMGFhMG...,A devout Catholic girl and a boy with no relig...

In [32]:
oscard = oscard[['award_id', 'year', 'category', 'crew_id', 'imdb_id','is_winner']]
oscard

,award_id,year,category,crew_id,imdb_id,is_winner
0,0,1928,ACTOR,nm0001932,tt0052063,False
1,1,1928,ACTOR,nm0417837,tt0019071,True
2,2,1928,ACTRESS,nm0237571,tt0018389,False
3,3,1928,ACTRESS,nm0310980,tt0018379,True
4,4,1928,ACTRESS,nm0841797,tt0019344,False
...,...,...,...,...,...,...
10384,10754,2023,WRITING (Original Screenplay),nm0276062,tt14444726,False
10385,10755,2023,WRITING (Original Screenplay),nm1128037,tt7322224,False
10386,10756,2023,HONORARY AWARD,nm0657484,NaN,True
10387,10758,2023,HONORARY AWARD,nm0001837,NaN,True
10388,10760,2023,AWARD OF COMMENDATION,NaN,tt11394200,True

In [41]:
inner_merged_total = pd.merge(oscard, movie[['tconst', 'primaryTitle']], left_on='imdb_id', right_on='tconst', how='left')
inner_merged_total

,award_id,year,category,crew_id,primaryTitle_x,is_winner,imdb_id,tconst,primaryTitle_y
0,0,1928,ACTOR,nm0001932,The Noose,False,None,NaN,NaN
1,1,1928,ACTOR,nm0417837,The Last Command,True,None,NaN,NaN
2,28,1928,WRITING (Original Story),NaN,The Last Command,False,None,NaN,NaN
3,5,1928,ART DIRECTION,nm0322843,Sunrise,False,None,NaN,NaN
4,9,1928,CINEMATOGRAPHY,NaN,Sunrise,True,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...
8157,10720,2023,BEST PICTURE,NaN,Women Talking,False,None,NaN,NaN
8158,10750,2023,WRITING (Adapted Screenplay),NaN,Women Talking,True,None,NaN,NaN
8159,10734,2023,SHORT FILM (Live Action),NaN,Night Ride,False,None,NaN,NaN
8160,10747,2023,WRITING (Adapted Screenplay),nm0426059,Glass Onion,False,None,NaN,NaN
8161,10760,2023,AWARD OF COMMENDATION,NaN,Welcome to Chechnya,True,None,NaN,NaN

In [36]:
movie[movie['primaryTitle']=='Emma']

,Unnamed: 0,tconst,primaryTitle,Country,runtimeMinutes,Year,averageRating,Rated,Poster,Plot
1114,1114,tt0022854,Emma,United States,72,1932,7.0,Passed,https://m.media-amazon.com/images/M/MV5BYjZmNG...,"When their mother dies in childbirth, Emma Tha..."
27093,27093,tt0116191,Emma,"United Kingdom, United States",120,1996,6.6,PG,https://m.media-amazon.com/images/M/MV5BN2E1YT...,Emma Woodhouse is a congenial young lady who d...
121827,121827,tt9109490,Emma,Mexico,80,2019,4.9,NaN,https://m.media-amazon.com/images/M/MV5BMGFhMG...,A devout Catholic girl and a boy with no relig...

In [61]:
oscard[oscard['movie_name']=='Emma']

,year,category,crew_id,movie_name,is_winner,imdb_id
163,1932,ACTRESS,nm0237597,Emma,False,None
7635,1997,COSTUME DESIGN,NaN,Emma,False,None
7673,1997,MUSIC (Original Musical or Comedy Score),NaN,Emma,True,None
10498,2021,COSTUME DESIGN,NaN,Emma,False,None
10528,2021,MAKEUP AND HAIRSTYLING,NaN,Emma,False,None

In [52]:
oscard['imdb_id']=None
oscard

,year,category,crew_id,movie_name,is_winner,imdb_id
0,1928,ACTOR,nm0001932,The Noose,False,None
1,1928,ACTOR,nm0417837,The Last Command,True,None
2,1928,ACTRESS,nm0237571,A Ship Comes In,False,None
3,1928,ACTRESS,nm0310980,7th Heaven,True,None
4,1928,ACTRESS,nm0841797,Sadie Thompson,False,None
...,...,...,...,...,...,...
10829,2023,WRITING (Original Screenplay),nm0276062,Tár,False,None
10830,2023,WRITING (Original Screenplay),nm1128037,Triangle of Sadness,False,None
10831,2023,HONORARY AWARD,nm0657484,NaN,True,None
10833,2023,HONORARY AWARD,nm0001837,NaN,True,None
10835,2023,AWARD OF COMMENDATION,NaN,Welcome to Chechnya,True,None

In [92]:
row = oscard[[.loc[163]]]
title = row['movie_name']

In [94]:
title = row['movie_name']
year = row['year']
movie_match = movie[(movie['primaryTitle']==title) & (movie['Year']-year<=2)]

1

In [106]:
for index, row in oscard.iterrows():
    title = row['movie_name']
    year = row['year']
    if not title != title:
        movie_match = movie[(movie['primaryTitle']==title)&(year - movie['Year']<=2)]
        if len(movie_match.index)>0:
            oscard.at[index, 'imdb_id'] = movie_match.iloc[0]['tconst']

In [112]:
oscard = oscard[['year', 'category', 'crew_id', 'imdb_id', 'is_winner']

,index,year,category,crew_id,imdb_id,is_winner
0,0,1928,ACTOR,nm0001932,tt0052063,False
1,1,1928,ACTOR,nm0417837,tt0019071,True
2,2,1928,ACTRESS,nm0237571,None,False
3,3,1928,ACTRESS,nm0310980,tt0373661,True
4,4,1928,ACTRESS,nm0841797,None,False
...,...,...,...,...,...,...
10567,10567,2023,WRITING (Original Screenplay),nm0276062,tt14444726,False
10568,10568,2023,WRITING (Original Screenplay),nm1128037,tt7322224,False
10569,10569,2023,HONORARY AWARD,nm0657484,None,True
10570,10570,2023,HONORARY AWARD,nm0001837,None,True
10571,10571,2023,AWARD OF COMMENDATION,NaN,tt11394200,True

In [113]:
oscard.to_csv("clean_data/new_oscar.csv")

In [101]:
oscard['imdb_id'].value_counts()

tt0007801    14
tt0020629    13
tt0012249    13
tt0021746     9
tt0008305     9
             ..
tt0020960     1
tt0021511     1
tt0019813     1
tt0020358     1
tt0016491     1
Name: imdb_id, Length: 116, dtype: int64

In [118]:
crew_match[crew_match['movie_name'] == 'All Quiet on the Western Front']

,year,category,crew_id,movie_name,is_winner,imdb_id
91,1930,CINEMATOGRAPHY,NaN,All Quiet on the Western Front,False,tt0020629
99,1930,DIRECTING,nm0587277,All Quiet on the Western Front,True,tt0020629
101,1930,OUTSTANDING PRODUCTION,NaN,All Quiet on the Western Front,True,tt0020629
111,1930,WRITING,NaN,All Quiet on the Western Front,False,tt0020629
10735,2023,CINEMATOGRAPHY,NaN,All Quiet on the Western Front,True,tt1016150
10765,2023,INTERNATIONAL FEATURE FILM,NaN,All Quiet on the Western Front,True,tt1016150
10770,2023,MAKEUP AND HAIRSTYLING,NaN,All Quiet on the Western Front,False,tt1016150
10775,2023,MUSIC (Original Score),NaN,All Quiet on the Western Front,True,tt1016150
10786,2023,BEST PICTURE,NaN,All Quiet on the Western Front,False,tt1016150
10796,2023,PRODUCTION DESIGN,NaN,All Quiet on the Western Front,True,tt1016150
10811,2023,SOUND,NaN,All Quiet on the Western Front,False,tt1016150
10816,2023,VISUAL EFFECTS,NaN,All Quiet on the Western Front,False,tt1016150
10821,2023,WRITING (Adapted Screenplay),NaN,All Quiet on the Western Front,False,tt1016150

In [120]:
row = crew_match.loc[10735]
title = row['movie_name']
year = row['year']
movie_match = movie[(movie['primaryTitle']==title) & (year - movie['Year']<=2)]

In [121]:
title

'All Quiet on the Western Front'

In [122]:
year

2023

In [135]:
movie_match = movie[(movie['primaryTitle']==title)&(year - movie['Year']<=2)]
movie_match

,Unnamed: 0,tconst,primaryTitle,Country,runtimeMinutes,Year,averageRating,Rated,Poster,Plot
60345,60345,tt1016150,All Quiet on the Western Front,"Germany, United States, United Kingdom",148,2022,7.8,R,https://m.media-amazon.com/images/M/MV5BMzM4ZD...,The story follows teenagers Paul Baumer and hi...

In [153]:
crew_match[crew_match['movie_name']=='All Quiet on the Western Front']

,year,category,crew_id,movie_name,is_winner,imdb_id,id
85,1930,CINEMATOGRAPHY,NaN,All Quiet on the Western Front,False,tt0020629,85
93,1930,DIRECTING,nm0587277,All Quiet on the Western Front,True,tt0020629,93
95,1930,OUTSTANDING PRODUCTION,NaN,All Quiet on the Western Front,True,tt0020629,95
105,1930,WRITING,NaN,All Quiet on the Western Front,False,tt0020629,105
10473,2023,CINEMATOGRAPHY,NaN,All Quiet on the Western Front,True,tt1016150,10473
10503,2023,INTERNATIONAL FEATURE FILM,NaN,All Quiet on the Western Front,True,tt1016150,10503
10508,2023,MAKEUP AND HAIRSTYLING,NaN,All Quiet on the Western Front,False,tt1016150,10508
10513,2023,MUSIC (Original Score),NaN,All Quiet on the Western Front,True,tt1016150,10513
10524,2023,BEST PICTURE,NaN,All Quiet on the Western Front,False,tt1016150,10524
10534,2023,PRODUCTION DESIGN,NaN,All Quiet on the Western Front,True,tt1016150,10534
10549,2023,SOUND,NaN,All Quiet on the Western Front,False,tt1016150,10549
10554,2023,VISUAL EFFECTS,NaN,All Quiet on the Western Front,False,tt1016150,10554
10559,2023,WRITING (Adapted Screenplay),NaN,All Quiet on the Western Front,False,tt1016150,10559

In [146]:
crew_match  = crew_match.reset_index()

In [147]:
crew_match['id'] = crew_match.index

In [154]:
crew_match = crew_match[['year', 'category', 'crew_id', 'movie_name', 'is_winner',
       'imdb_id', 'id']]
crew_match.to_csv("clean_data/crew_match.csv")
crew_match

,year,category,crew_id,movie_name,is_winner,imdb_id,id
0,1928,ACTOR,nm0001932,The Noose,False,tt0052063,0
1,1928,ACTOR,nm0417837,The Last Command,True,tt0019071,1
2,1928,ACTRESS,nm0237571,A Ship Comes In,False,None,2
3,1928,ACTRESS,nm0310980,7th Heaven,True,tt0373661,3
4,1928,ACTRESS,nm0841797,Sadie Thompson,False,None,4
...,...,...,...,...,...,...,...
10567,2023,WRITING (Original Screenplay),nm0276062,Tár,False,tt14444726,10567
10568,2023,WRITING (Original Screenplay),nm1128037,Triangle of Sadness,False,tt7322224,10568
10569,2023,HONORARY AWARD,nm0657484,NaN,True,None,10569
10570,2023,HONORARY AWARD,nm0001837,NaN,True,None,10570
10571,2023,AWARD OF COMMENDATION,NaN,Welcome to Chechnya,True,tt11394200,10571